<div class="sidebar commodities">
    <h3 class="center">LIVE WEEKLY TRADING ROOM</h3>
    <span class="sub-head">By Chris Svorcik</span>
    <div class="push"></div>
    <p class="center ">
        <img class="weekly-img" src="/images/weekly-trading-room-videos-small-img.png" alt="">
    </p>
    <p>Subscriobe to the live trading room by professional trading Chris Svorcik</p>
    <p class="center">
        <a class="button button-focus" href="#">
            <span>SUBSCRIBE NOW</span>
        </a>
    </p>
    <span class="notif">*We value your privacy</span>
    <span class="notif">*We never share your email address with anyone.</span>
</div>
