<div class="sidebar content-box-4">
    <div class="back-image">
        <p class="para3"><strong>COMMODITIES CORNER</strong>
        </p>
        <span class="sub-head">Von The Gold & Silver Club</span>
        <div class="push"></div>
        <p class="para">Melden Sie sich jetzt im Commodities Corner vom Gold & Silver Club an</p>
        <p class="center para5">
            <a class="button button-focus" href="http://blog.binary.com/en/events/?utm_source=blog&utm_medium=social&utm_content=DE&utm_campaign=blogsidebar#Commodities-Corner">
                <span>JETZT ABONNIEREN!</span>
            </a>
        </p>
        <span class="notif" style="color:black">*Wir beachten Ihre Privatsphäre</span>
    </div>
</div>
