<div class="sidebar">
    <h2>Neue Posts</h2>
    <ul class="bullet">

        <li><a href="/BinaryTV-premiere-der-taglichen-marktbericht-videos/">Binary TV-Premiere der täglichen Marktbericht Videos</a>
        </li>
        <li><a href="/Die-java-chart-anwendung-wurde-entfernt/">Auf Binary.com sind jetzt auch Spread-Kontrakte möglich</a>
        </li>
        <li><a href="/Auf-Binarycom-sind-jetzt-auch-Spread-Kontrakte-moglich/">Auf Binary.com sind jetzt auch spread-kontrakte möglich</a>
        </li>
        <li><a href="/Betaversion-der-neuen-Binarycom-radingoberflache-gestartet/">Betaversion der neuen Binary.com tradingoberfläche gestartet</a>
        </li>
        <li><a href="/nominieren-sie-binarycom-fur-einen-shares-award/">Nominieren sie Binary.com für einen shares award</a>
        </li>
        <li><a href="/binarycom-fur-eine-weitere-auszeichnung-nominiert/">Binary.com für eine weitere Auszeichnung nominiert!</a>
        </li>
        <li><a href="/brandneu-jetzt-sind-smart-indizes-erhaltlich/">Brandneu! Jetzt sind Smart Indizes erhältlich</a>
        </li>
        <li><a href="/Vorstellung-des-neuen-AufAb-abschnitts/">Vorstellung des neuen auf/ab abschnitts</a>
        </li>
        <li><a href="/upgrade-der-login-moglichkeit/">Upgrade der login-möglichkeit</a>
        </li>
        <li><a href="/Smart-FX-kontrakte-jetzt-mit-einer-mindestdauer-von-15-sekunden/">Smart FX kontrakte jetzt mit einer Mindestdauer von 15 sekunden</a>
        </li>
        
    
    </ul>
</div>
