<div class="sidebar partner">
    <h2 class="center">Werden sie partner von Binary.com</h2>
    <div class="para">
        <img src="/images/affiliate.svg" alt="">
        <p>Verdienen sie provisionen mit dem Einführen von neuen kunden auf Binary.com</p>
    </div>
    <p class="center para2">
        <a href="https://www.binary.com/affiliate/signup?l=DE&utm_source=blog&utm_medium=social&utm_content=DE&utm_campaign=blogsidebar">
            <span>Erfahren Sie mehr</span>
        </a>
    </p>
</div>