<div class="sidebar">
    <h2>Rkürzliche Posts</h2>
    <ul class="bullet">

        <li><a href="/de/Die-java-chart-anwendung-wurde-entfernt/">Auf Die Java Chart Anwendung wurde entfernt</a>
        </li>
        <li><a href="/de/Auf-Binarycom-sind-jetzt-auch-Spread-Kontrakte-moglich/">Auf Binary.com sind jetzt auch Spread-Kontrakte möglich</a>
        </li>
        <li><a href="/de/Betaversion-der-neuen-Binarycom-radingoberflache-gestartet/">Betaversion der neuen Binary.com Tradingoberfläche gestartet</a>
        </li>
        <li><a href="/de/nominieren-sie-binarycom-fur-einen-shares-award/">Nominieren Sie Binary.com für einen Shares Award</a>
        </li>
        <li><a href="/de/binarycom-fur-eine-weitere-auszeichnung-nominiert/">Binary.com für eine weitere Auszeichnung nominiert!</a>
        </li>
        <li><a href="/de/brandneu-jetzt-sind-smart-indizes-erhaltlich/">Brandneu! Jetzt sind Smart Indizes erhältlich</a>
        </li>
        <li><a href="/de/Investment-dienstleistungs-genehmigung-von-der-malta-financial-services-authority/">Investment dienstleistungs genehmigung von der Malta Financial Services Authority</a>
        </li>
        <li><a href="/de/Vorstellung-des-neuen-AufAb-abschnitts/">Vorstellung des neuen Auf/Ab Abschnitts</a>
        </li>
        <li><a href="/de/upgrade-der-login-moglichkeit/">Upgrade der Login-Möglichkeit</a>
        </li>
        <li><a href="/de/Smart-FX-kontrakte-jetzt-mit-einer-mindestdauer-von-15-sekunden/">Smart FX Kontrakte jetzt mit einer Mindestdauer von 15 Sekunden</a>
        </li>
        
    
    </ul>
</div>
