<div class="sidebar">
    <h2>Neue Posts</h2>
    <ul class="bullet">

        <li><a href="/de/Die-java-chart-anwendung-wurde-entfernt/">Auf die Java Chart anwendung wurde entfernt</a>
        </li>
        <li><a href="/de/Auf-Binarycom-sind-jetzt-auch-Spread-Kontrakte-moglich/">Auf Binary.com sind jetzt auch spread-kontrakte möglich</a>
        </li>
        <li><a href="/de/Betaversion-der-neuen-Binarycom-radingoberflache-gestartet/">Betaversion der neuen Binary.com tradingoberfläche gestartet</a>
        </li>
        <li><a href="/de/nominieren-sie-binarycom-fur-einen-shares-award/">Nominieren sie Binary.com für einen shares award</a>
        </li>
        <li><a href="/de/binarycom-fur-eine-weitere-auszeichnung-nominiert/">Binary.com für eine weitere auszeichnung nominiert!</a>
        </li>
        <li><a href="/de/brandneu-jetzt-sind-smart-indizes-erhaltlich/">Brandneu! Jetzt sind smart indizes erhältlich</a>
        </li>
        <li><a href="/de/Investment-dienstleistungs-genehmigung-von-der-malta-financial-services-authority/">Investment dienstleistungs genehmigung von der Malta Financial Services Authority</a>
        </li>
        <li><a href="/de/Vorstellung-des-neuen-AufAb-abschnitts/">Vorstellung des neuen auf/ab abschnitts</a>
        </li>
        <li><a href="/de/upgrade-der-login-moglichkeit/">Upgrade der login-möglichkeit</a>
        </li>
        <li><a href="/de/Smart-FX-kontrakte-jetzt-mit-einer-mindestdauer-von-15-sekunden/">Smart FX kontrakte jetzt mit einer Mindestdauer von 15 sekunden</a>
        </li>
        
    
    </ul>
</div>
