<div class='home-content'>
    <div id='page_info' style='display: none;'>
        <title>Binary.com : : Online Trading platform for binary options on Forex, Indices, Stocks, Commodities and Global Sector Indices</title>
        <div id='content_class'>home-content</div>
    </div>
    <div id='banner'>
        <div class='grd-container'>
            <div class='grd-grid-12 grd-hide-mobile grd-hide-phablet grd-row-padding grd-no-gutter-left grd-no-gutter-right'>
                <div id='slider'>
                    <div class='slides-container'>
                        <div class='invisibleslides slides' id='slide-1'>
                            <h1>Schließen Sie sich uns an</h1>
                            <p>Binary.com stellt Dienstleistungen für geschäftspartner über die folgenden programme zur verfügung.</p>
                            <h4>
                                <a class='learn-more pjaxload' href="https://www.binary.com/partners?l=DE">Erfahren Sie mehr</a>
                            </h4>
                        </div>
                        <div class='invisibleslides slides' id='slide-2'>
                            <h1>Gratis webinare</h1>
                            <p>Binary.com tut sich mit professionellen moderatoren zusammen, 
                                <br>um für jeden kostenlose webinare zu bieten.</p>
                            <h4>
                                <a class='learn-more pjaxload' href="/de/webinar/">Erfahren Sie mehr</a>
                            </h4>
                        </div>
                        <div class='invisibleslides slides' id='slide-3'>
                            <h1>Veranstaltungen</h1>
                            <p>Zeitplan der verschiedenen veranstaltungen und webinare, die von <br>Binary.com veranstaltet werden.</p>
                            <h4>
                                <a class='learn-more pjaxload' href='/de/events/'>Erfahren Sie mehr</a>
                            </h4>
                        </div>
                        <div class='invisibleslides slides' id='slide-4'>
                            <h1>Lernzentrum</h1>
                            <p>Alle Hilfe, die Sie brauchen gibt es genau hier und kostenlos. 
                                <br>Durchsuchen Sie einfach die nachfolgenden Lernmittel und laden Sie sie herunter.</p>
                            <h4>
                                <a class='learn-more pjaxload' href="/de/binarydotcom-learning-center/">Erfahren Sie mehr</a>
                            </h4>
                        </div> 
                    
                    </div>
                    <!-- <ul class='slides-pagination'>
                        <li class='current'>
                            <a href='#0'>&nbsp;</a>
                        </li>
                        <li>
                            <a href='#1'>&nbsp;</a>
                        </li>
                        <li>
                            <a href='#2'>&nbsp;</a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>

</div>
