article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}
* {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
a h2:hover {color:inherit;}
/* Header */
.topbar {min-height: 28px; }
.Top-Bar__contacts {
    display: inline;
    text-align: right;
	margin:0;
}
.Top-Bar__contacts a {
    display: inline-block;
    color: #fff;
    margin: 0 10px;
    padding-top: 7px;
    padding-right: 17px;    
}
#select_language {z-index:9999!important;}
#select_language li a:link {color:#000000!important; font-weight:normal!important;}
#select_language li a:visited {color:#000000!important; font-weight:normal!important;}
#topbar .language-wrapper,
.topbar .language-wrapper {
    vertical-align: middle;
    padding: 0 5px;
    display: inline-flex;
    min-width: 58px;
    margin: 0 auto
}
.topbar .language-wrapper .language{padding:5px 1px;}

.Header__title {
    color: #fff;
    margin: 0;
    padding-top: 10px;
	padding-right: 20px;
    text-align: right;
	font-weight: 300!important;
    margin-top: 5px!important
}
@media only screen and (max-width:480px) {
.mobile-hide {display:none!important;}
}
.Signup {text-align:right;}
@media (max-width: 992px) {
.Header__title {text-align:right; margin-bottom:10px; padding-right: 0px;}
}
.Subheader {display:table; width:100%; font-size:15px; background-color:#f2f2f2; border-bottom:1px solid #dedede; padding:0px; text-align:left;}
.Subheader ul {list-style:none; margin:0px; padding:0; width:100%; display:block; }
.Subheader ul li {display:inline-block; margin:0px 0px; padding:5px 0px;}
.Subheader ul li a{ padding:4px 15px; font-weight:400; }
.Subheader ul li a:hover{ text-decoration:none; }
@media (max-width: 768px) {
.Subheader ul li {display:block; margin:0px 0px; padding:6px 0px; width:100%; border-bottom:1px solid #ccc;}
.Subheader ul li a{width:100%;margin-left:-15px;padding:7px 15px; display:block;}
}
/* Pages */
.Blog-Posts__item {display:table; margin: 0px; padding-bottom: 15px; }
.Blog-Posts__item__excerpt {border-bottom:1px solid #dedede; padding-bottom:15px;}
.Blog-Posts__item__title {display:block; line-height: 28px; margin:10px 0; }
.Page-List {margin: 20px -20px; }
.Page-List__item { display:table; border-bottom:1px solid #dedede; margin: 20px 0px;  }
.Page-List__item__full { display:table; width:100%; border-bottom:1px solid #dedede; margin: 20px 0px; text-align:center!important; }
.Page-List__item__image { margin-left: -15px; }
.Page-List__item__date { margin-top:10px; margin-bottom:10px; text-align:center; font-size:13px;}
.Page-List__item__image img{padding-bottom: 0px;margin-top:20px; }
.Page-List__item__excerpt { padding-bottom:15px;}
.Page-List__item__excerpt h3{ margin-top:20px;}
.Page-List__item__title {display:block; margin-top:0px; margin-bottom:0px; }
.Page-List__item__title:hover { text-decoration:underline;}
.Page-List__item__heading {display:block;  line-height: 28px; margin-top:0px; margin-bottom:10px; }
.Page-List__item__heading:hover {text-decoration:underline; }
.Page-Grid__grid-wrap {overflow: hidden; margin: -10px -10px;}
.Page-Grid__grid-wrap p{margin: 10px 10px;}
.Page-Grid__grid-wrap__box {float: left;  position: relative; width: 33.3%; padding-bottom: 35%;}
.Page-Grid__grid-wrap__box__boxInner {position: absolute; left: 10px; right: 10px; top: 10px; bottom: 10px; border:1px solid #dedede; padding:0px; text-align:center; background:#fff; background-repeat:no-repeat; background-size:cover; background-position:center;}
.Page-Grid__grid-wrap__box__boxInner:hover {border:1px solid #ccc;}
.Page-Grid__grid-wrap__box__boxInner__title {font-weight:400; font-size:16px; position:absolute; bottom:0px;left:0;right:0;padding:20px;}
.Page-Grid__grid-wrap__box__boxInner__vendor {display:block; float:left;position:absolute;top:25px;left:5px; right:5px; padding:0px; background:transparent; color:#444; font-size:12px; text-align:center;}
.Page-Grid__grid-wrap__box__boxInner__vendor img {max-width:60%; height:auto; margin:0 auto;}
.grid--date {display:block; background:#fff; font-weight:400; font-size:14px; position:absolute; bottom:-14px;left:2px; right:2px; padding:5px; z-index:999;}
@media only screen and (max-width : 768px) {
.Page-Grid__grid-wrap__box {float: left;  position: relative; width: 50%; padding-bottom: 50%;}
}
@media only screen and (max-width : 480px) {
.Page-Grid__grid-wrap__box {float: left;  position: relative; width: 100%; padding-bottom: 100%;}
}
/* Sidebar */
.Blog-Sidebar__section {background-color:#f4f4f4; padding:20px; margin-bottom:20px;}
.Blog-Sidebar__section ul {list-style-type: none; margin:0; padding:0;}
.Blog-Sidebar__section ul li { border-bottom:0px solid #ccc; margin-left:0px; padding:2px 0px; width:100%; }
.Blog-Sidebar__section ul li  a{font-size:18px; font-weight:700;}
.Blog-Sidebar__section__full {background-color:#f4f4f4; padding:0px; margin-bottom:20px;}
.Blog-Sidebar__section__title__full {font-weight:400; padding:20px;}
.Blog-Sidebar__recent-posts ul {list-style-type: none; }
.Blog-Sidebar__recent-posts ul li { border-bottom:0px solid #ccc; margin-left:15px; padding:5px 0px; }
.Blog-Sidebar__recent-posts ul li  a{}
/* Footer */
.Footer {display:table; width:100%; margin-top:50px;}
.Footer  a{color:#fff;}
.Footer__socket {display:table; width:100%; background-color:#2a3052; color:#fff; padding:15px 0px;}
.Footer__socket h4 {font-size:14px;text-transform:none;font-weight:bold!important;letter-spacing:0px;margin-top:10px; margin-bottom:5px; color:#e98024;}
.Footer__socket ul {list-style-type: none; width:100%; float:left; margin:0px; padding:0px;}
.Footer__socket ul li {border-bottom:0px solid #ccc; margin:0px; padding:0px; font-weight:400;}
.Footer__socket ul li a{padding:0px 0px; font-size:12px; font-weight:400; text-decoration:none;}
.Footer__socket ul li a:hover{color:#eee; text-decoration:underline; }
.Footer__info {display:table; width:100%; background-color:#15212d; color:#fff; padding:10px 0px; font-size:12px;}
.Footer__info a {text-decoration:underline;}
.Footer__copyrights {display:table; width:100%; background-color:#2a3052; color:#fff; padding:10px 0px; text-align:center;}
.Footer__copyrights a {text-decoration:underline;}
.Footer__copyrights ul {list-style:none; margin:0; padding:0; width:100%; display:block; }
.Footer__copyrights ul li {display:inline-block; margin:0px 0px; padding:5px 0px;}
.Footer__copyrights ul li a{padding:4px 15px; font-size:12px; font-weight:400; text-decoration:none;}
.Footer__copyrights ul li a:hover{color:#eee; text-decoration:underline; }
.Footer__copyrights__copy {color:#eee;}
/* Snippets */
.report-list { width:100%;}
.rte img{max-width:100%;}
.list-group {padding-left: 0; margin-bottom: 20px;}
.list--item { display:block; border-bottom:1px solid #dedede;}
.post--date{ display:block;font-weight:400; font-size:14px; color:#000; margin-top:-20px;}
.p--action { margin-top: 30px; margin-bottom: 30px; margin-left: 0px; margin-right: 0px; text-align:center!important;}
.fl--left {float:left; margin-right:20px; margin-bottom:15px; }
.sc--center {display: block; margin-left: 0; margin-right: 0; text-align:center;}
.daily-report img {width:inherit; height:auto; display:block; margin-left:auto; margin-right:auto; margin-top:30px;}
.daily-report ul {list-style-type: none; margin:0; padding:0;}
.daily-report ul li {margin-left:0px; padding:0px; width:100%;}
/* Social */
.Social { margin-top:-5px; margin-bottom:20px; text-align:right; }
.Social h5 {font-weight:400;margin-bottom:0; font-size:14px;}
.Social__nav { overflow:hidden; margin:0; padding:3px 0px; list-style:none;}
.Social__nav li { display:inline-block; *display:inline;zoom:1;padding:0px;}
.Social__nav li img{ margin-top:-1px;}
.Social__nav li a {
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
  transition: all 0.1s;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    display:block;
    position: relative;
    z-index: 1;
    width: 35px;
    height: 35px;
    line-height: 30px;
    font-size: 12px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    margin-right: 0px;
    color: #444;
}
.Social__nav a:hover {z-index: 2; }
@media only screen and (max-width : 768px) {
.Social { margin-top:-5px; margin-bottom:20px; text-align:center; }
.Social__nav li a { width: 50px;height: 50px;line-height: 50px;}
}
.Footer__social h5 {text-align:center;}
.Footer__social ul {margin-top:20px;}
.Footer__social ul li {padding:2px; }
.Footer__social ul li  img{width: 30px; height: 30px;}
/* Video Embed */
.video-container {position: relative;margin-top:20px;padding-bottom: 56.25%;padding-top: 30px; height: 0; overflow: hidden;}
.video-container iframe,
.video-container object,
.video-container embed {position: absolute;top: 0;left: 0;width: 100%;height: 100%; border:0;}
.video-thumb {cursor: pointer;display: inline-block;width: 22%;margin: 4% 4% 0 0;vertical-align: top;}
.video-thumb:nth-child(4n) {margin-right: 0;}
.video-thumb img {padding-bottom: 1em;}
.video-thumb p{font-size: 14px;margin: 0;}
.unbounce--confirmation iframe {border:none; margin:0; padding:0;}
/* Corrections */
.button {display:inline-table;margin-bottom:5px;}
.cta-lg {text-align: center; padding: 0 30px; margin-bottom: 40px;}
.cta-lg img {text-align: center !important;}