<div class="sidebar">
    <h2>Profile der Beitragenden</h2>
    <ul class="bullet">
        <li><a href="/de/contributors/chris-svorcik">Chris Svorcik</a></li>
        <li><a href="/de/contributors/dave-evans">Dave Evans</a></li>
        <li><a href="/de/contributors/ehab-gubil">Dr. Ehab Gubil</a></li>
        <li><a href="/de/contributors/jim-mellon">Jim Mellon</a></li>
        <li><a href="/de/contributors/jon-mcfarlane">Jon McFarlene</a></li>
        <li><a href="/de/contributors/julius-stein/">Julius Stein</a></li>
        <li><a href="/de/contributors/lee-sandford">Lee Sanford</a></li>
        <li><a href="/de/contributors/matt-shaw">Matt Shaw</a></li>
        <li><a href="/de/contributors/phil-carr-and-nik-kalsi">Nik Kalsi</a></li>
        <li><a href="/de/contributors/phil-carr-and-nik-kalsi">Phil Carr</a></li>
        <li><a href="/de/contributors/thomas-nowakowski">Thomas Nowakowski</a></li>
        <li><a href="/de/contributors/vernon-lees">Vernon Lees</a></li>
        <li><a href="/de/contributors/vince-stanzione">Vince Stanzione</a></li>

    </ul>
</div>