<div class="sidebar">
    <h2>Profile der Beitragenden</h2>
    <ul class="bullet">
        <li><a href="/pt/contribuidores/chris-svorcik">Chris Svorcik</a></li>
        <li><a href="/pt/contribuidores/dave-evans">Dave Evans</a></li>
        <li><a href="/pt/contribuidores/ehab-gubil">Dr. Ehab Gubil</a></li>
        <li><a href="/pt/contribuidores/jim-mellon">Jim Mellon</a></li>
        <li><a href="/pt/contribuidores/jon-mcfarlane">Jon McFarlene</a></li>
        <li><a href="/pt/contribuidores/lee-sandford">Lee Sanford</a></li>
        <li><a href="/pt/contribuidores/matt-shaw">Matt Shaw</a></li>
        <li><a href="/pt/contribuidores/phil-carr-and-nik-kalsi">Phil Carr & Nik Kalsi</a></li>
        <li><a href="/pt/contribuidores/vernon-lees">Vernon Lees</a></li>
        <li><a href="/pt/contribuidores/vince-stanzione">Vince Stanzione</a></li>

    </ul>
</div>