<div class='home-content'>
    <div id='page_info' style='display: none;'>
        <title>Binary.com : : Online Trading platform for binary options on Forex, Indices, Stocks, Commodities and Global Sector Indices</title>
        <div id='content_class'>home-content</div>
    </div>
    <div id='banner'>
        <div class='grd-container'>
            <div class='grd-grid-12 grd-hide-mobile grd-hide-phablet grd-row-padding grd-no-gutter-left grd-no-gutter-right'>
                <div id='slider'>
                    <div class='slides-container'>
                        <div class='invisibleslides slides' id='slide-1'>
                            <h1 class='dark'>BERBAGAI VIDEO</h1>
                            <p>Untuk membantu Anda segera memulai, berikut adalah beberapa video pelatihan.</p>
                            <h4>
                                <a class='learn-more pjaxload' href="/id/berbagai-video/">Cari tahu lebih lanjut</a>
                            </h4>
                        </div>
                        <div class='invisibleslides slides' id='slide-2'>
                            <h1 class='dark'>BERBAGAI ACARA</h1>
                            <p>Jadwal berbagai Acara & Webinar di Binary.com</p>
                            <h4>
                                <a class='learn-more pjaxload' href='/id/acara/'>Cari tahu lebih lanjut</a>
                            </h4>
                        </div>
                        <div class='invisibleslides slides' id='slide-3'>
                            <h1 class='dark'>DOWNLOADS</h1>
                            <p>Semua bantuan yang anda perlukan tersedia di sini dan gratis. Cukup telusuri berbagai sumber pembelajaran di bawah ini dan download secara langsung.</p>
                            <h4>
                                <a class='learn-more pjaxload' href="/id/download/">Cari tahu lebih lanjut</a>
                            </h4>
                        </div> 
                    </div>
                    <ul class='slides-pagination'>
                        <li class='current'>
                            <a href='#0'>&nbsp;</a>
                        </li>
                        <li>
                            <a href='#1'>&nbsp;</a>
                        </li>
                        <li>
                            <a href='#2'>&nbsp;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>