<div class='home-content'>
    <div id='page_info' style='display: none;'>
        <title>Binary.com : : Online Trading platform for binary options on Forex, Indices, Stocks, Commodities and Global Sector Indices</title>
        <div id='content_class'>home-content</div>
    </div>
    <div id='banner'>
        <div class='grd-container'>
            <div class='grd-grid-12 grd-hide-mobile grd-hide-phablet grd-row-padding grd-no-gutter-left grd-no-gutter-right'>
                <div id='slider'>
                    <div class='slides-container'>
                        

                        <div class='invisibleslides slides' id='slide-1'>
                            <h1>Centro de aprendizagem</h1>
                            <p>Toda a ajuda que você precisa para começar está aqui e é gratuita. Basta navegar pelos vários recursos de aprendizagem abaixo e fazer o download.</p>
                            <h4>
                                <a class='learn-more pjaxload' href="/en/binarydotcom-learning-center/">Saiba mais</a>
                            </h4>
                        </div> 

                        <div class='invisibleslides slides' id='slide-2'>
                            <h1>Webinars gratuitos</h1>
                            <p>A Binary.com colabora com palestrantes <br>profissionais para oferecer webinars <br>gratuitos a todos.</p>
                            <h4>
                                <a class='learn-more pjaxload' href="/en/webinar/">Saiba mais</a>
                            </h4>
                        </div>
                        <div class='invisibleslides slides' id='slide-3'>
                            <h1>Eventos</h1>
                            <p>Agenda dos vários eventos e webinars <br>acontecendo na Binary.com.</p>
                            <h4>
                                <a class='learn-more pjaxload' href='/en/events/'>Saiba mais</a>
                            </h4>
                        </div>

                        <div class='invisibleslides slides' id='slide-4'>
                            <h1>Seja nosso parceiro</h1>
                            <p>A Binary.com fornece serviços de parceria de <br>negócios através dos seguintes programas.</p>
                            <h4>
                                <a class='learn-more pjaxload' href="https://www.binary.com/partners?l=PT&utm_source=blog&utm_medium=social&utm_content=PT&utm_campaign=homepage_slide_show">Saiba mais</a>
                            </h4>
                        </div>
                    
                    </div>
                    <!-- <ul class='slides-pagination'>
                        <li class='current'>
                            <a href='#0'>&nbsp;</a>
                        </li>
                        <li>
                            <a href='#1'>&nbsp;</a>
                        </li>
                        <li>
                            <a href='#2'>&nbsp;</a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>

</div>
