language: ruby
rvm:
  - 2.2.2
branches:
  only:
  - gh-pages     # test the gh-pages branch
script:
  - bundle exec jekyll build
  - bundle exec htmlproofer ./_site --only-4xx --check-html
env:
  global:
    - NOKOGIRI_USE_SYSTEM_LIBRARIES=true # speeds up installation of html-proofer 
