<div class="sidebar">
   <script src="https://apis.google.com/js/platform.js"></script>

<div class="g-ytsubscribe" data-channel="BinaryTradingVideos" data-layout="full" data-count="default"></div>

</div>
<div class="sidebar">
    <h2 class="center">Ready to start?</h2>
    <p class="center-aligned">
        <a class="button button-focus" href="#">
            <span>OPEN A FREE ACCOUNT</span>
        </a>
    </p>

</div>
<div class="sidebar">
    <center>
        <!-- Place this tag where you want the widget to render. -->
        <div class="g-page" data-width="243" data-href="https://plus.google.com/106251151552682209951" data-showcoverphoto="false" data-rel="publisher"></div>

        <!-- Place this tag after the last widget tag. -->
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
    </center>

</div>
<!-- <div class="sidebar commodities">
   <h3 class="center">COMMODITIES CORNER</h3>
    <span class="sub-head">By the Gold&Silver Club</span>
       <p class="para">Subscriobe to Commodities Corner by Gold&Silver Club</p>
       <img class="commidi-image" src="/images/commodities-img.png" alt="">
        <p class="center">
       <a class="button button-focus" href="#">
        <span>SUBSCRIBE NOW</span>
        </a></p>
        <span class="notif">*We value your privacy</span>
        <span class="notif">*We never share your email address with anyone.</span>
</div> -->
<div class="sidebar content-box-4">
            <div class="back-image">
            <p class="para3"><strong>COMMODITIES CORNER</strong></p>
          <span class="sub-head">By the Gold&Silver Club</span>
          <div class="push"></div>
             <p class="para">Subscriobe to Commodities Corner by Gold&Silver Club</p>

             <!-- <img class="para-image" src="/images/commodities-img.png" alt=""> -->
             <p class="center para5">
             <a class="button button-focus" href="#">
              <span>SUBSCRIBE NOW</span>
              </a></p>
            <span class="notif" style="color:black">*We value your privacy</span>
              <span class="notif">*We never share your email address with anyone.</span>
              </div>
</div>
<div class="sidebar">
    <center>
    <a class="twitter-timeline" href="https://twitter.com/Binarydotcom" data-widget-id="519399239860776960">Tweets by @Binarydotcom</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</center>

</div>