<div class="sidebar">
    <h2>Contributor Profiles</h2>
    <ul class="bullet">
        <li><a href="#">Chris Svorcik</a></li>
        <li><a href="#">Dave Evans</a></li>
        <li><a href="#">Dr. Ehab Gubil</a></li>
        <li><a href="#">Jon McFarlene</a></li>
        <li><a href="#">Lee Sanford</a></li>
        <li><a href="#">Matt Shaw</a></li>
        <li><a href="#">Nik Kalsi</a></li>
        <li><a href="#">Phil Carr</a></li>
        <li><a href="#">Thomas Nowakowski</a></li>
        <li><a href="#">Vince Stanzione</a></li>
    </ul>

</div>
<div class="sidebar">
    <center>
        <!-- Place this tag where you want the widget to render. -->
        <div class="g-page" data-width="243" data-href="https://plus.google.com/106251151552682209951" data-showcoverphoto="false" data-rel="publisher"></div>

        <!-- Place this tag after the last widget tag. -->
        <script type="text/javascript">
          (function() {
            var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
            po.src = 'https://apis.google.com/js/platform.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
          })();
        </script>
    </center>

</div>
<div class="sidebar">
    <p class="center">
        <a class="bold" href="https://www.binary.com/c/linkto_acopening.cgi?actype=virtual&amp;l=EN">Try it now</a>
        <br>No risk, $10K virtual money account
    </p>

</div>
