<div class="sidebar">
    <h2>Contributor Profiles</h2>
    <ul class="bullet">
    <li><a href="/en/contributors/jim-mellon">Jim Mellon</a></li>
        <li><a href="/en/contributors/chris-svorcik">Chris Svorcik</a></li>
        <li><a href="/en/contributors/dave-evans">Dave Evans</a></li>
        <li><a href="/en/contributors/ehab-gubil">Dr. Ehab Gubil</a></li>
        <li><a href="/en/contributors/jon-mcfarlane">Jon McFarlene</a></li>
        <li><a href="/en/contributors/Josh-K/">Josh K.</a></li>
        <li><a href="/en/contributors/lee-sandford">Lee Sanford</a></li>
        <li><a href="/en/contributors/matt-shaw">Matt Shaw</a></li>
        <li><a href="/en/contributors/phil-carr-and-nik-kalsi">Nik Kalsi</a></li>
        <li><a href="/en/contributors/phil-carr-and-nik-kalsi">Phil Carr</a></li>
        <li><a href="/en/contributors/theo-patsios/">Theo Patsios</a></li>
        <li><a href="/en/contributors/thomas-nowakowski">Thomas Nowakowski</a></li>
        <li><a href="/en/contributors/vince-stanzione">Vince Stanzione</a></li>
        <li><a href="/en/contributors/vernon-lees">Vernon Lees</a></li>
    </ul>
</div>
