<div class="sidebar">
    <h2 class="center">Ready to start?</h2>
    <p class="center-aligned">
        <a class="button button-focus" href="#">
            <span>OPEN A FREE ACCOUNT</span>
        </a>
    </p>

</div>
<div class="sidebar">
    <h2>RECENT POSTS</h2>
    <ul class="bullet">
        <li><a href="#">Three New Forex Markets Available</a>
        </li>
        <li><a href="#">Revamped Tick Trades from Binary.com</a>
        </li>
        <li><a href="#">The Quick 10% & Lucky 10 Digits Get a Complete Upgrade</a>
        </li>
        <li><a href="#">Binary.com launches Smart Indices</a>
        </li>
        <li><a href="#">Revamped Tick Trades from Binary.com</a>
        </li>
        <li><a href="#">Shares Awards 2014</a>
        </li>
        <li><a href="#">Three New Forex Markets Available</a>
        </li>
    </ul>

</div>

{% include sidebar-gplus.html %}

<div class="sidebar">
    <p class="center">
        Want to learn more?
        <br>
        <a class="bold" href="https://www.binary.com/tour?l=EN">View the Tour</a>
    </p>

</div>
