<div class="sidebar">
    <h2>RECENT POSTS</h2>
    <ul class="bullet">
        <li><a href="/login-facility-upgrade/">Login Facility Upgrade</a>
        </li>
        <li><a href="/contracts-on--mart-FX-contracts-now-with-a-duration-of-15-seconds/">New! Palladium & Platinum</a>
        </li>
        <li><a href="/short-term-contracts-available-on-major-forex-pairs/">Smart FX Contracts now with a minimum duration of 15 seconds</a>
        </li>
        <li><a href="/tick-trades-available-on-major-fx-pairs/">New! Tick Trades Available on Major FX Pairs</a>
        </li>
        <li><a href="/smaller-pip-sizes-on-most-major-fx-pairs/">Smaller pip sizes on most major FX pairs</a>
        </li>
        <li><a href="/brand-new-outperformance-indices/">Brand New! Outperformance Indices</a>
        </li>
        <li><a href="/minimum-duration-down-to-15-minutes-for-rise-fall-trades-on-indices/">Minimum Duration Down To 15 minutes For Rise/Fall Trades on Indices</a>
        </li>
    </ul>
</div>
