<div class="sidebar">
   <script src="https://apis.google.com/js/platform.js"></script>

<div class="g-ytsubscribe" data-channel="BinaryTradingVideos" data-layout="full" data-count="default"></div>

</div>
<div class="sidebar">
    <h2 class="center">Ready to start?</h2>
    <p class="center-aligned">
        <a class="button button-focus" href="#">
            <span>OPEN A FREE ACCOUNT</span>
        </a>
    </p>

</div>

{% include sidebar-gplus.html %}

<div class="sidebar">
   <p class="center">
        <a class="bold" href="https://www.binary.com/c/linkto_acopening.cgi?actype=virtual&amp;l=EN">Try it now</a>
        <br>No risk, $10K virtual money account
    </p>

</div>
<div class="sidebar">
    <center>
    <a class="twitter-timeline" href="https://twitter.com/Binarydotcom" data-widget-id="519399239860776960">Tweets by @Binarydotcom</a>
</center>

</div>
