<div class="sidebar">
    <h2>Contributor Profiles</h2>
    <ul class="bullet">
        <li><a href="#">Chris Svorcik</a></li>
        <li><a href="#">Dave Evans</a></li>
        <li><a href="#">Dr. Ehab Gubil</a></li>
        <li><a href="#">Jon McFarlene</a></li>
        <li><a href="#">Lee Sanford</a></li>
        <li><a href="#">Matt Shaw</a></li>
        <li><a href="#">Nik Kalsi</a></li>
        <li><a href="#">Phil Carr</a></li>
        <li><a href="#">Thomas Nowakowski</a></li>
        <li><a href="#">Vince Stanzione</a></li>
    </ul>
</div>
