<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %} | Binary.com Blog</title>
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content=" {{page.keywords}} ">

    <link rel="icon" href="https://binary.com/images/favicons/apple-touch-icon-57x57.png" rel="apple-touch-icon" sizes="57x57" />

    <link rel="stylesheet" href="https://www.binary.com/css/binary.min.css">
    <link rel="stylesheet" href="/css/style.css">

    <script src="https://apis.google.com/js/platform.js" defer='true'></script>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
    <!-- ////// -->
    <!--<script src='https://www.binary.com/js/binary.min.js' defer='true'></script>-->
    <script src='/javascript/binary.js' defer='true'></script>

    <!-- <script src="/superfeedr.jquery.js" defer='true'></script> -->
    <script src="/code.js" defer='true'></script>
</head>
