<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/en/">What's New?</a></li>       
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Learning Center <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/en/daily-report/">Daily Report</a></li>
            <li><a href="/en/videos/">Videos</a></li>
            <li><a href="/en/mellon-on-the-markets/">E-Books</a></li>
            <li><a href="/en/events/">Events</a></li>
            <li><a href="/en/security-tips/">Security Tips</a></li>
			<li><a href="#">FAQ</a></li>
            <li><a href="#">Glossary</a></li>
          </ul>
        </li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Partners <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/en/contributors/">Contributors</a></li>
            <li><a href="https://www.binary.com/en/affiliate/signup.html">Affiliate Program</a></li>
            <li><a href="https://www.binary.com/en/payment-agent.html">Payment Agents</a></li>
            <li><a href="https://developers.binary.com/">API Developers</a></li>
            <li><a href="https://bot.binary.com/">Binary Bot</a></li>
			<li><a href="https://www.binary.com/en/open-source-projects.html">Open Source</a></li>
            <li><a href="https://www.binary.com/en/user-testing.html">User Testing</a></li>
          </ul>
        </li>
		<li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Shop <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="https://shop.binary.com/collections/all">Products</a></li>
            <li><a href="https://shop.binary.com/collections/applications">Applications</a></li>
            <li><a href="https://shop.binary.com/collections/guides">Guides</a></li>
            <li><a href="https://shop.binary.com/collections/apparels">Apparel</a></li>
          </ul>
        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div>
