<div id="header">
    <div class="grd-container">
        <div class="grd-row-padding">
            <div class="grd-grid-3 grd-grid-mobile-2 grd-grid-phablet-1">
                <a id="logo" href="{{ site.url }}">
                    <div class="grd-grid-3 grd-grid-mobile-12 grd-grid-phablet-12 grd-no-gutter">
                        <img class="responsive" src="https://static.binary.com/images/pages/binary-symbol-logo.svg">
                    </div>
                    <div class="grd-grid-9 grd-hide-mobile grd-hide-phablet" id="binary-logo-text">
                        <img class="responsive" src="https://static.binary.com/images/pages/binary-type-logo.svg">
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
