<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ page.excerpt }}">
    <meta name="keywords" content=" {{page.keywords}} ">

    <link rel="stylesheet" href="https://static.binary.com/css/binary.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="/code.js"></script>
    <script src="https://apis.google.com/js/platform.js" defer='true'></script>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<script src='https://static.binary.com/js/lib.min.js' defer='true'></script>
    <script src='https://static.binary.com/js/data.min.js' defer='true'></script>
    <script src='https://static.binary.com/js/binary.min.js' defer='true'></script>
</script>
</head>
