<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" href="https://static.binary.com/css/binary.min.css">
    <link rel="stylesheet" href="http://0.0.0.0:4000/css/style.css">
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
	<script src='https://static.binary.com/js/lib.min.js?c93c0d85aead993064f9859e48436aa1' defer='true'></script>
    <script src='https://static.binary.com/js/data.min.js?62dd7a2f2bb592a0ee8008e1bd7706d9' defer='true'></script>
    <script src='https://static.binary.com/js/binary.min.js?e0862a6186b557360fedb5ef79fe507d' defer='true'></script>
    <script>
        $(document).ready(function(){
            $(".nav-button").click(function () {
            $(".nav-button,.primary-nav").toggleClass("open");
            });    
        });
    </script>
</script>
</head>
