{% assign path = page.path | remove_first:'pages' | remove_last %}
{% if path contains "/en/" %}{% assign siteLang = 'en' %}{% assign LangUrl = '/en/' %}
{% elsif path contains "/de/" %}{% assign siteLang = 'de' %}{% assign LangUrl = '/de/' %}
{% elsif path contains "/ru/" %}{% assign siteLang = 'ru' %}{% assign LangUrl = '/ru/' %}
{% elsif path contains "/fr/" %}{% assign siteLang = 'fr' %}{% assign LangUrl = '/fr/' %}
{% elsif path contains "/es/" %}{% assign siteLang = 'es' %}{% assign LangUrl = '/es/' %}
{% elsif path contains "/pt/" %}{% assign siteLang = 'pt' %}{% assign LangUrl = '/pt/' %}
{% elsif path contains "/id/" %}{% assign siteLang = 'id' %}{% assign LangUrl = '/id/' %}
{% elsif path contains "/it/" %}{% assign siteLang = 'it' %}{% assign LangUrl = '/it/' %}
{% else %}
{% assign siteLang = 'en' %}{% assign LangUrl = '/en/' %}
{% endif %}