{% assign nav = site.main | where: "lang", page.lang %}


<div id="main-menu" class="tab-menu">
    <div class="menu-raw">
    <div class="tab-menu-wrap grd-container">
        <div class="grd-grid-12 grd-no-gutter-left grd-no-gutter-right">
            <button class="nav-button">Toggle Navigation</button>
            <ul class="items primary-nav">
                <li>
                    <a href="/">What's New?</a>
                </li>
                {% for node in nav %}
                {% if page.url == node.url %}
                <li class="active">{% else %}<li>{% endif %}
                    <a href="{{ node.url | prepend: site.baseurl }}">{{ node.title }}</a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
    </div>
</div>
