<div id="nav-sidebar" style="float: right">
    <div class="wsite-elements wsite-not-footer">
        <div>
            <div id="838893025440559354" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                <br>
            </div>
        </div>

        <div>
            <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                <a href="http://record.binary.com/_8grqRDVc106_LrXP9s2i6GNd7ZgqdRLk/1/" target="_blank">
                    <img src="http://blog.binary.com/uploads/1/3/9/9/13999492/9026806_orig.jpg" alt="Picture" style="width:100%;max-width:238px">
                </a>
                <div style="display:block;font-size:90%"></div>
            </div>
        </div>

        <div>
            <div class="wsite-image wsite-image-border-none " style="padding-top:10px;padding-bottom:10px;margin-left:0;margin-right:0;text-align:center">
                <a href="https://www.binary.com/c/linkto_acopening.cgi?actype=virtual&amp;l=EN&amp;utm_medium=social&amp;utm_source=blog&amp;utm_content=whatsnew" target="_blank">
                    <img src="http://blog.binary.com/uploads/1/3/9/9/13999492/3402013_orig.jpg" alt="Picture" style="width:100%;max-width:238px">
                </a>
                <div style="display:block;font-size:90%"></div>
            </div>
        </div>

        <div class="paragraph" style="text-align:center;"><strong><font size="4">Need more resources?</font></strong>
        </div>

        <div>
            <div class="wsite-image wsite-image-border-none " style="padding-top:0;padding-bottom:0;margin-left:0;margin-right:0;text-align:center">
                <a href="http://blog.binary.com/uploads/1/3/9/9/13999492/623250_orig.png?243" onclick="if (!lightboxLoaded) return false" class="w-fancybox">
                    <img src="http://blog.binary.com/uploads/1/3/9/9/13999492/623250.png?243" alt="Picture" style="width:auto;max-width:100%">
                </a>
                <div style="display:block;font-size:90%"></div>
            </div>
        </div>

        <div>
            <div id="683560719815828551" align="left" style="width: 100%; overflow-y: hidden;" class="wcustomhtml">
                <iframe id="twitter-widget-0" scrolling="no" frameborder="0" allowtransparency="true" class="twitter-timeline twitter-timeline-rendered" style="border: none; max-width: 100%; min-width: 180px; width: 300px;" title="Twitter Timeline" height="250"></iframe>
                <script>
                    ! function(d, s, id) {
                        var js, fjs = d.getElementsByTagName(s)[0],
                            p = /^http:/.test(d.location) ? 'http' : 'https';
                        if (!d.getElementById(id)) {
                            js = d.createElement(s);
                            js.id = id;
                            js.src = p + "://platform.twitter.com/widgets.js";
                            fjs.parentNode.insertBefore(js, fjs);
                        }
                    }(document, "script", "twitter-wjs");
                </script>
            </div>
        </div>
    </div>
</div>
