{% if page.lang == 'en' %}
{{ page.date |  date: "%b %-d, %Y" }}
{% endif %}

{% if page.lang == 'de' %}
{{ page.date | date: "???" }}
{% endif %}

{% if page.lang == 'id' %}
{{ page.date | date: "???" }}
{% endif %}

{% if page.lang == 'zh' %}
{{ page.date | date: "???" }}
{% endif %}

{% if page.lang == 'ar' %}
{{ page.date | date: "???" }}
{% endif %}

{% if page.lang == 'pl' %}
{{ page.date | date: "???" }}
{% endif %}

{% if page.lang == 'ru' %}
{{ page.date | date: "???" }}
{% endif %}

{% if page.lang == 'pt' %}
{{ page.date | date: "???" }}
{% endif %}

{% if page.lang == 'es' %}
{{ page.date | date: "???" }}
{% endif %}

{% if page.lang == 'fr' %}
{{ page.date | date: "???" }}
{% endif %}
