{% assign posts = site.posts | where: "lang", page.lang %}

<div class="home">

    <div class="post-list">

        {% for post in posts limit:10 %}
        <div class="post">
            <h1 class="margin-b"><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
            <span class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</span>
            <article class="post-content">
                <p>
                    {{ post.excerpt }}
                </p>
            </article>
            <div class="readMore">
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{site.t[page.lang].readmore}}</a>
                <div style="clear:both;"></div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<a class="button" href="/archive/"><span>{{site.t[page.lang].archive}}</span></a>
