<div class="sidebar">
    <center>
        <div class="g-page"
            data-width="243"
            data-href="https://plus.google.com/106251151552682209951"
            data-showcoverphoto="false"
            data-rel="publisher">
        </div>
    </center>
    <!-- Place this tag after the last widget tag.
    <script type="text/javascript">
      (function() {
        var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
        po.src = 'https://apis.google.com/js/platform.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
      })();
    </script>
    -->
</div>
