<!-- <div class="sidebar">
	<center>
    	<iframe src="//www.facebook.com/plugins/likebox.php?href=https%3A%2F%2Fwww.facebook.com%2Fbinarydotcom&amp;width=260&amp;height=210&amp;colorscheme=light&amp;show_faces=true&amp;header=true&amp;stream=false&amp;show_border=true" scrolling="no" frameborder="0"
    style="border:none; overflow:hidden; width:270px; height:210px;" allowTransparency="true"></iframe>
	</center>
</div> -->
<div class="sidebar">
	<div class="fb-page" data-href="https://www.facebook.com/binarydotcom" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true" data-show-posts="false"><div class="fb-xfbml-parse-ignore"><blockquote cite="https://www.facebook.com/binarydotcom"><a href="https://www.facebook.com/binarydotcom">Binary.com</a></blockquote></div></div>
</div>
