<div class='home-content'>
    <div id='page_info' style='display: none;'>
        <title>Binary.com : : Online Trading platform for binary options on Forex, Indices, Stocks, Commodities and Global Sector Indices</title>
        <div id='content_class'>home-content</div>
    </div>
    <div id='banner'>
        <div class='grd-container'>
            <div class='grd-grid-12 grd-hide-mobile grd-hide-phablet grd-row-padding grd-no-gutter-left grd-no-gutter-right'>
                <div id='slider'>
                    <div class='slides-container'>
                        <div class='invisibleslides slides' id='slide-1'>
                            <h1>Partner With Us</h1>
                            <p>Binary.com provides business partnership services via the following programs.</p>
                            <h4>
                                <a class='learn-more pjaxload' href="https://www.binary.com/partners">Find Out More</a>
                            </h4>
                        </div>
                        <!-- <div class='invisibleslides slides' id='slide-2'>
                            <h1>Free Webinars</h1>
                            <p>Binary.com teams up with Professional Speakers to offer free webinars for everyone.</p>
                            <h4>
                                <a class='learn-more pjaxload' href="/en/webinar/">Find Out More</a>
                            </h4>
                        </div>
                        <div class='invisibleslides slides' id='slide-3'>
                            <h1>Events</h1>
                            <p>Schedule of the various Events & Webinars taking place on Binary.com.</p>
                            <h4>
                                <a class='learn-more pjaxload' href='/en/events/'>Find Out More</a>
                            </h4>
                        </div>
                        <div class='invisibleslides slides' id='slide-4'>
                            <h1>Learning Center</h1>
                            <p>All the help you need to get started is right here and it's free. Simply browse through the various learning resources below and download.</p>
                            <h4>
                                <a class='learn-more pjaxload' href="/en/binarydotcom-learning-center/">Find Out More</a>
                            </h4>
                        </div> -->
                    
                    </div>
                    <!-- <ul class='slides-pagination'>
                        <li class='current'>
                            <a href='#0'>&nbsp;</a>
                        </li>
                        <li>
                            <a href='#1'>&nbsp;</a>
                        </li>
                        <li>
                            <a href='#2'>&nbsp;</a>
                        </li>
                    </ul> -->
                </div>
            </div>
        </div>
    </div>

</div>
