<!-- Google Plus -->
<div class="social-icon">
    	<div class="g-plus" data-action="share" data-annotation="none"></div>
 </div>
 <!-- Facebook -->
 <div class="social-icon">
    	<div id="fb-root"></div>
		<script>(function(d, s, id) {
		  var js, fjs = d.getElementsByTagName(s)[0];
		  if (d.getElementById(id)) return;
		  js = d.createElement(s); js.id = id;
		  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
		  fjs.parentNode.insertBefore(js, fjs);
		}(document, 'script', 'facebook-jssdk'));</script>
		<div class="fb-share-button" data-layout="button"></div>
<!-- Twitter -->
</div>
<div class="social-icon">
	<a href="https://twitter.com/share?url=https://blog.binary.com{{ page.id }}&amp;text={{ page.title | cgi_escape }}"
	title="Share on Twitter" class="twitter-share-button">
	</a>
</div>  
