<div id="topbar">
	<div class="grd-container">
		<div class="grd-grid-12 grd-parent">
		<div class="grd-grid-6 grd-grid-mobile-12 by_client_type client_virtual" id="virtualupgrade" style="">
			</div>
			<div class="grd-grid-6 grd-grid-mobile-12 grd-parent" id="topbar-info">
				<div class="grd-grid-5 grd-grid-mobile-7" id="gmt-clock"></div>
				<div class="grd-grid-3 grd-hide-mobile" id="contact-us">
					<a href="https://www.binary.com/contact?l={{page.lang}}">
						{{site.t[page.lang].contactus}}
					</a>
				</div>
				<div class="grd-grid-4 grd-grid-mobile-5">
					<div class="EN" id="language_select">
						{% include languages.html %}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
