<div class="sidebar dave">
	<h2 class="center">Laporan Harian Binary.com</h2>
	<div class="para">
		<img src="/images/dave-daily.png" alt="">
		<p>Baca Laporan Harian Market oleh <strong>Dave Evans</strong>, Trader Profesional Binary.com.</p>
	</div>
	<p class="center">
        <a class="button button-focus" href="http://trade.binary.com/dailyreport_en_daveevans/?utm_medium=social&utm_source=blog&utm_content=davesreport">
            <span>BERLANGGANAN SEKARANG</span>
        </a>
    </p>
    <br>
    <span class="notif" style="color:black">*Kami menghargai privasi anda</span>
    <span class="notif">*Kami tidak menginformasikan alamat email anda kepada siapa pun.</span>
</div>