<div class="sidebar">
    <h2>POSTINGAN TERKINI</h2>
    <ul class="bullet">
        <li><a href="/kontrak-spread-sudah-tersedia-di-binary-dot-com/">Kontrak Spread Sudah Tersedia di Binary.com</a>
        </li>
        <li><a href="/Peluncuran-tampilan-baru-trading-binary-com-versi-beta/">Peluncuran Tampilan Baru Trading Binary.com versi Beta</a>
        </li>
        <li><a href="/nominasikan-binary-com-pada-shares-awards/">Nominasikan Binary.com pada Shares Award</a>
        </li>
        <li><a href="/Binarydotcom-nominated-for-another-award/">Binary.com kembali dinominasikan dalam memperoleh penghargaan!</a>
        </li>
        <li><a href="/terbaru-indeks-smart-telah-tersedia/">Terbaru! Indeks Smart Telah Tersedia</a>
        </li>
        <li><a href="/memperkenalkan-bagian-terbaru-atas-Bawah/">Memperkenalkan Bagian Terbaru Atas/Bawah</a>
        </li>
        <li><a href="/Kontrak-Smart-Indeks-Dengan-Durasi-15-Detik/">Kontrak Smart Indeks Dengan Durasi 15 Detik</a>
        </li>
        <li><a href="/Terbaru!-Trading-Tik-terkini-dapat-ditradingkan-pada-pasangan-utama-FX/">Terbaru! Trading Tik terkini dapat ditradingkan pada pasangan utama FX</a>
        </li>
        <li><a href="/Ukuran-pip-lebih-kecil-pada-pasangan-utama-FX/">Ukuran pip lebih kecil pada pasangan utama FX</a>
        </li>
        <li><a href="/Terbaru-Indeks-Kinerja-Super">Terbaru! Indeks Kinerja Super</a>
        </li>
    </ul>
</div>
