<div class="sidebar">
    <h2>RECENT POSTS</h2>
    <ul class="bullet">
        <li><a href="/Terbaru-Indeks-Kinerja-Super">Terbaru! Indeks Kinerja Super</a>
        </li>
        <li><a href="/Durasi-Minimal-Menurun-Hingga-15-Menit-Untuk-Kontrak-Naik-Turun-Pada-Indeks">Durasi Minimal Menurun Hingga 15 Menit Untuk Kontrak Naik/Turun Pada Indeks</a>
        </li>
        <li><a href="/Terbaru-Palladium-and-Platinum">Terbaru! Palladium & Platinum</a>
        </li>
        <li><a href="/Kontrak-Jangka-Pendek-Tersedia-Pada-Berbagai-Pasangan-Forex-Utama">Kontrak Jangka Pendek Tersedia Pada Berbagai Pasangan Forex Utama</a>
        </li>
        <li><a href="/binary-com-meluncurkan-kontrak-asia">Binary.com meluncurkan kontrak Asia</a>
        </li>
        <li><a href="/binary-com-meluncurkan-Indeks-Smart">Binary.com meluncurkan Indeks Smart</a>
        </li>
        <li><a href="/binary-com-dinominasikan-untuk-penghargaan-lainnya">Binary.com dinominasikan untuk penghargaan lainnya!</a>
        </li>
    </ul>
</div>
