<div class='home-content'>
    <div id='page_info' style='display: none;'>
        <title>Binary.com : Binary.com memberikan setiap orang cara mudah dan menarik untuk berpartisipasi dalam pasar keuangan. Kontrak tersedia dari harga terendah sebesar $1 pada berbagai pilihan pasangan valuta asing, indeks dan komoditas.</title>
        <div id='content_class'>home-content</div>
    </div>
    <div id='banner'>
        <div class='grd-container'>
            <div class='grd-grid-12 grd-hide-mobile grd-hide-phablet grd-row-padding grd-no-gutter-left grd-no-gutter-right'>
                <div id='slider'>
                    <div class='slides-container'>
                         <div class='invisibleslides slides' id='slide-1'>
                            <h1>Bermitra Bersama Kami!</h1>
                            <p>Kami menyediakan layanan bisnis kemitraan seperti API, White Label dll.</p>
                            <h4>
                                <a class='learn-more pjaxload' href="https://www.binary.com/partners?l=ID&utm_source=blog&utm_medium=social&utm_campaign=whatsnew">Temukan Lebih Lanjut</a>
                            </h4>
                        </div>
                        <div class='invisibleslides slides' id='slide-2'>
                            <h1>Berbagai Video</h1>
                            <p>Untuk membantu Anda segera memulai, <br>
                            berikut adalah beberapa video pelatihan.</p>
                            <h4>
                                <a class='learn-more pjaxload' href="/id/berbagai-video/">Cari tahu lebih lanjut</a>
                            </h4>
                        </div>
                       
                    
                        <div class='invisibleslides slides' id='slide-3'>
                            <h1>Pusat Pembelajaran</h1>
                            <p>Semua bantuan yang Anda butuhkan untuk <br>
                                memulai terdapat di sini dan gratis. <br>
                                Cukup dengan menelusuri berbagai sumber <br>
                                belajar berikut dan men-download.</p>
                            <h4>
                                <a class='learn-more pjaxload' href='/id/binarydotcom-pusat-pelatihan/'>Cari tahu lebih lanjut</a>
                            </h4>
                        </div>
                    

                        <div class='invisibleslides slides' id='slide-4'>
                            <h1>Download</h1>
                            <p>Semua bantuan yang anda perlukan tersedia di sini dan gratis. <br>
                            Cukup telusuri berbagai sumber pembelajaran di <br>
                            bawah ini dan download secara langsung.</p>
                            <h4>
                                <a class='learn-more pjaxload' href="/id/download/">Cari tahu lebih lanjut</a>
                            </h4>
                        </div>
                    </div>
                    <ul class='slides-pagination'>
                        <li class='current'>
                            <a href='#0'>&nbsp;</a>
                        </li>
                        <li>
                            <a href='#1'>&nbsp;</a>
                        </li>
                        <li>
                            <a href='#2'>&nbsp;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>