---
layout: home-default
title: Noticias
permalink: /es/
language: es
tag: main
---
{% include geturl.html %}
{% assign engPosts = site.posts | where: "language", "es" %}
{% for post in engPosts limit:15 %}  
<div class="row">
	<div class="col">	
		    <a href="{{ post.url | prepend: SourceUrl }}"><h2>{{ post.title }}</h2></a>
			<p class="post--date">{{ post.date | date: "%d.%m.%Y" }}</p>
		<p>{{ post.excerpt }}</p>	
		<p><a href="{{ post.url | prepend: SourceUrl }}">leer más...</a></p>
	</div>	
</div>
<div class="separator-line-thin-gray-xs"></div>
{% endfor %}
<p class="center-text"><a class="button" href="{{ '/es/blog/' | prepend: SourceUrl }}"><span>leer en archivo</span></a></p>