<div class="sidebar">
    <h2>MENSAJES RECIENTES</h2>
    <ul class="bullet">
        
        <li><a href="/indices-random-renombrados-a-indices-de-volatilidad/">Los “Índices Random” Renombrados a “Índices de Volatilidad”</a>
        </li>
        <li><a href="/razones-para-probar-nuestra-nueva-interfaz/">3 Razones para Probar Nuestra Nueva Interfaz</a>
        </li>
        <li><a href="/Restricciones-debido-a-las-Vacaciones-para-Operaciones-con-Acciones-e-Índice/">Restricciones debido a las Vacaciones para Operaciones con Acciones e Índice</a>
        </li>
        <li><a href="/Premio-para-operador2015-EGR-otorgado-a-Binarycom/">Premio para Operador 2015 EGR otorgado a Binary.com</a>
        </li>
        <li><a href="/BinaryTV-estrena-videos-de-informes-de-mercado-diarios/">Binary TV estrena videos de informes de mercado diarios</a>
        </li>
        <li><a href="/aplicacion-graficos-java-eliminada/">Aplicación gráficos java eliminada</a>
        </li>
        <li><a href="/contratos-spread-ahora-disponibles-en-Binary-dot-com/">Contratos spread ahora disponibles en Binary.com</a>
        </li>
        <li><a href="/Lanzamiento-beta-de-la-nueva-interfaz-de-Comercio-de-Binarycom/">Lanzamiento beta de la nueva interfaz de comercio de Binary.com</a>
        </li>
        <li><a href="/nomine-a-binarycom-para-un-premio-shares-award/">Nomine a Binary.com para un premio shares award</a>
        </li>
        <li><a href="/Binarycom-nominado-a-otro-premio/">¡Binary.com nominado a otro premio!</a>
        </li>
        <li><a href="/nuevo-smart-indices-disponibles-ahora/">¡Nuevo! Smart indices disponibles ahora</a>
        </li>
        
       
        
        
        
        
    
    </ul>
</div>
