<div class="sidebar dave">
	<h2 class="center">Informe Diario Binary.com</h2>
	<div class="para">
		<img src="/images/dave-daily.png" alt="">
		<p>Lea el Informe de Mercado Diario de  <strong>Dave Evans,</strong>, Comerciante Profesional de Binary.com</p>
	</div>
	<p class="center">
        <a class="button button-focus" href="http://trade.binary.com/dailyreport_en_daveevans/?utm_medium=social&utm_source=blog&utm_content=davesreport">
            <span>¡SUSCRÍBASE AHORA!</span>
        </a>
    </p>
</div>