---
layout: home-default
title: Novidades?
permalink: /pt/
language: pt
tag: main
---
{% include geturl.html %}
{% assign engPosts = site.posts | where: "language", "pt" %}
{% for post in engPosts limit:15 %}  
<div class="row">
	<div class="col">
		<a href="{{ post.url | prepend: site.url }}"><h2>{{ post.title }}</h2></a>
		<p class="post--date">{{ post.date | date: "%d.%m.%Y" }}</p>
		<p>{{ post.excerpt }}</p>	
		<p><a href="{{ post.url | prepend: site.url }}">Saiba mais...</a></p>
	</div>	
</div>
<div class="separator-line-thin-gray-xs"></div>
{% endfor %}
<p class="center-text"><a class="button" href="{{ '/pt/blog/' | prepend: SourceUrl }}"><span>Leia mais no arquivo morto</span></a></p>