{% if siteLang == "en" %}
	<h4>Shop</h4>
		<ul>
			<li><a href="https://shop.binary.com/collections/all">Products</a></li>
			<li><a href="https://shop.binary.com/collections/applications">Applications</a></li>
			<li><a href="https://shop.binary.com/collections/guides">Guides</a></li>
			<li><a href="https://shop.binary.com/collections/apparels">Apparel</a></li>
		</ul>
{% elsif siteLang == "de" %}
	<h4>Shop</h4>
		<ul>
			<li><a href="https://shop.binary.com/collections/all">Products</a></li>
			<li><a href="https://shop.binary.com/collections/applications">Applications</a></li>
			<li><a href="https://shop.binary.com/collections/guides">Guides</a></li>
			<li><a href="https://shop.binary.com/collections/apparels">Apparel</a></li>
		</ul>
{% elsif siteLang == "fr" %}
	<h4>Shop</h4>
		<ul>
			<li><a href="https://shop.binary.com/collections/all">Products</a></li>
			<li><a href="https://shop.binary.com/collections/applications">Applications</a></li>
			<li><a href="https://shop.binary.com/collections/guides">Guides</a></li>
			<li><a href="https://shop.binary.com/collections/apparels">Apparel</a></li>
		</ul>
{% elsif siteLang == "ru" %}
	<h4>Shop</h4>
		<ul>
			<li><a href="https://shop.binary.com/collections/all">Products</a></li>
			<li><a href="https://shop.binary.com/collections/applications">Applications</a></li>
			<li><a href="https://shop.binary.com/collections/guides">Guides</a></li>
			<li><a href="https://shop.binary.com/collections/apparels">Apparel</a></li>
		</ul>
{% elsif siteLang == "es" %}
	<h4>Shop</h4>
		<ul>
			<li><a href="https://shop.binary.com/collections/all">Products</a></li>
			<li><a href="https://shop.binary.com/collections/applications">Applications</a></li>
			<li><a href="https://shop.binary.com/collections/guides">Guides</a></li>
			<li><a href="https://shop.binary.com/collections/apparels">Apparel</a></li>
		</ul>
{% elsif siteLang == "pt" %}
	<h4>Shop</h4>
		<ul>
			<li><a href="https://shop.binary.com/collections/all">Products</a></li>
			<li><a href="https://shop.binary.com/collections/applications">Applications</a></li>
			<li><a href="https://shop.binary.com/collections/guides">Guides</a></li>
			<li><a href="https://shop.binary.com/collections/apparels">Apparel</a></li>
		</ul>
{% elsif siteLang == "id" %}
	<h4>Shop</h4>
		<ul>
			<li><a href="https://shop.binary.com/collections/all">Products</a></li>
			<li><a href="https://shop.binary.com/collections/applications">Applications</a></li>
			<li><a href="https://shop.binary.com/collections/guides">Guides</a></li>
			<li><a href="https://shop.binary.com/collections/apparels">Apparel</a></li>
		</ul>
{% else %}
    <h4>Shop</h4>
		<ul>
			<li><a href="https://shop.binary.com/collections/all">Products</a></li>
			<li><a href="https://shop.binary.com/collections/applications">Applications</a></li>
			<li><a href="https://shop.binary.com/collections/guides">Guides</a></li>
			<li><a href="https://shop.binary.com/collections/apparels">Apparel</a></li>
		</ul>
{% endif %}