{% if siteLang == "en" %}
	<h4>Shop</h4>
		<ul>
			<li><a href="https://shop.binary.com/collections/all?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_shop_products_en">Products</a></li>
			<li><a href="https://shop.binary.com/collections/applications?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_shop_applications_en">Applications</a></li>
			<li><a href="https://shop.binary.com/collections/guides?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_shop_guides_en">Guides</a></li>
			<li><a href="https://shop.binary.com/collections/apparels?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_shop_apparels_en">Apparel</a></li>
		</ul>
{% elsif siteLang == "de" %}
	<h4>Geschäft</h4>
		<ul>
			<li><a href="https://shop.binary.com/collections/all?utm_source=blog&utm_medium=social&utm_campaign=nov2016_footer_geschaft_produkte_de">Produkte</a></li>
			<li><a href="https://shop.binary.com/collections/applications?utm_source=blog&utm_medium=social&utm_campaign=nov2016_footer_geschaft_anwendungen_de">Anwendungen</a></li>
			<li><a href="https://shop.binary.com/collections/guides?utm_source=blog&utm_medium=social&utm_campaign=nov2016_footer_geschaft_guides_de">Guides</a></li>
			<li><a href="https://shop.binary.com/collections/apparels?utm_source=blog&utm_medium=social&utm_campaign=nov2016_footer_geschaft_kleider_de">Kleider</a></li>
		</ul>
{% elsif siteLang == "fr" %}
	<h4>Boutique</h4>
		<ul>
			<li><a href="https://shop.binary.com/collections/all">Produits</a></li>
			<li><a href="https://shop.binary.com/collections/applications">Applications</a></li>
			<li><a href="https://shop.binary.com/collections/guides">Guides</a></li>
			<li><a href="https://shop.binary.com/collections/apparels">Habillement</a></li>
		</ul>
{% elsif siteLang == "ru" %}
	<h4>Магазин</h4>
		<ul>
			<li><a href="https://shop.binary.com/collections/all?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_shop_products_ru">Продукты</a></li>
			<li><a href="https://shop.binary.com/collections/applications?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_shop_applications_ru">Приложения</a></li>
			<li><a href="https://shop.binary.com/collections/guides?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_shop_guides_ru">Путеводители</a></li>
			<li><a href="https://shop.binary.com/collections/apparels?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_shop_apparels_ru">Oдежда</a></li>
		</ul>
{% elsif siteLang == "es" %}
	<h4>Tienda</h4>
		<ul>
			<li><a href="https://shop.binary.com/collections/all">Productos</a></li>
			<li><a href="https://shop.binary.com/collections/applications">Aplicaciones</a></li>
			<li><a href="https://shop.binary.com/collections/guides">Guías</a></li>
			<li><a href="https://shop.binary.com/collections/apparels">Vestir</a></li>
		</ul>
{% elsif siteLang == "pt" %}
	<h4>Loja</h4>
		<ul>
			<li><a href="https://shop.binary.com/collections/all?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_loja_produtos_pt">Produtos</a></li>
			<li><a href="https://shop.binary.com/collections/applications?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_loja_aplicacoes_pt">Aplicações</a></li>
			<li><a href="https://shop.binary.com/collections/guides?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_loja_guides_pt">Guides</a></li>
			<li><a href="https://shop.binary.com/collections/apparels?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_loja_vestuario_pt">Vestuário</a></li>
		</ul>
{% elsif siteLang == "id" %}
	<h4>Toko</h4>
		<ul>
			<li><a href="https://shop.binary.com/collections/all?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_shop_produk_id">Produk</a></li>
			<li><a href="https://shop.binary.com/collections/applications?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_shop_applikasi_id">Aplikasi</a></li>
			<li><a href="https://shop.binary.com/collections/guides?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_shop_panduan_id">Panduan</a></li>
			<li><a href="https://shop.binary.com/collections/apparels?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_shop_pakaian_id">Pakaian</a></li>
		</ul>
{% else %}
    <h4>Shop</h4>
		<ul>
			<li><a href="https://shop.binary.com/collections/all?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_shop_products_en">Products</a></li>
			<li><a href="https://shop.binary.com/collections/applications?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_shop_applications_en">Applications</a></li>
			<li><a href="https://shop.binary.com/collections/guides?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_shop_guides_en">Guides</a></li>
			<li><a href="https://shop.binary.com/collections/apparels?utm_source=blog&utm_medium=social&utm_campaign=oct2016_footer_shop_apparels_en">Apparel</a></li>
		</ul>
{% endif %}