{% if siteLang == "en" %}
	<h4>Partners</h4>
		<ul>					    
			<li><a href="/{{ siteLang }}/contributors/">Contributors</a></li>
			<li><a href="https://www.binary.com/en/affiliate/signup.html">Affiliate Program</a></li>
			<li><a href="https://www.binary.com/en/payment-agent.html">Payment Agents</a></li>
			<li><a href="https://developers.binary.com/">API Developers</a></li>
		</ul>
{% elsif siteLang == "de" %}
	<h4>Partner</h4>
		<ul>					    
			<li><a href="/{{ siteLang }}/contributors/">Mitwirkende</a></li>
			<li><a href="https://www.binary.com/en/affiliate/signup.html">Affiliate-Programm</a></li>
			<li><a href="https://www.binary.com/en/payment-agent.html">Zahlstellen</a></li>
			<li><a href="https://developers.binary.com/">API Entwickler</a></li>
		</ul>
{% elsif siteLang == "fr" %}
	<h4>Les partenaires</h4>
		<ul>					    
			<li><a href="/{{ siteLang }}/contributors/">Contributeurs</a></li>
			<li><a href="https://www.binary.com/en/affiliate/signup.html">Programme d'affiliation</a></li>
			<li><a href="https://www.binary.com/en/payment-agent.html">Agents de paiement</a></li>
			<li><a href="https://developers.binary.com/">API Développeurs</a></li>
		</ul>
{% elsif siteLang == "ru" %}
	<h4>Партнёры</h4>
		<ul>					    
			<li><a href="/{{ siteLang }}/contributors/">Авторы</a></li>
			<li><a href="https://www.binary.com/en/affiliate/signup.html">Партнерская программа</a></li>
			<li><a href="https://www.binary.com/en/payment-agent.html">Агенты оплаты</a></li>
			<li><a href="https://developers.binary.com/">API Разработчики</a></li>
		</ul>
{% elsif siteLang == "es" %}
	<h4>Fogonadura</h4>
		<ul>					    
			<li><a href="/{{ siteLang }}/contributors/">Colaboradores</a></li>
			<li><a href="https://www.binary.com/en/affiliate/signup.html">Programa de Afiliación</a></li>
			<li><a href="https://www.binary.com/en/payment-agent.html">Agentes de pago</a></li>
			<li><a href="https://developers.binary.com/">API Desarrolladores</a></li>
		</ul>
{% elsif siteLang == "pt" %}
	<h4>Parceiros</h4>
		<ul>					    
			<li><a href="/{{ siteLang }}/contributors/">Contribuintes</a></li>
			<li><a href="https://www.binary.com/en/affiliate/signup.html">Programa de Afiliados</a></li>
			<li><a href="https://www.binary.com/en/payment-agent.html">Agentes de pagamento</a></li>
			<li><a href="https://developers.binary.com/">API Desenvolvedores</a></li>
		</ul>
{% elsif siteLang == "id" %}
	<h4>Rekan</h4>
		<ul>					    
			<li><a href="/{{ siteLang }}/contributors/">Kontributor</a></li>
			<li><a href="https://www.binary.com/en/affiliate/signup.html">Program Afiliasi</a></li>
			<li><a href="https://www.binary.com/en/payment-agent.html">Agen Pembayaran</a></li>
			<li><a href="https://developers.binary.com/">API Pengembang</a></li>
		</ul>
{% else %}
    <h4>Partners</h4>
		<ul>					    
			<li><a href="/{{ siteLang }}/contributors/">Contributors</a></li>
			<li><a href="https://www.binary.com/en/affiliate/signup.html">Affiliate Program</a></li>
			<li><a href="https://www.binary.com/en/payment-agent.html">Payment Agents</a></li>
			<li><a href="https://developers.binary.com/">API Developers</a></li>
		</ul>
{% endif %}