{% if siteLang == "en" %}
	<h4>Videos</h4>
		<ul>
			<li><a href="/{{ siteLang }}/videos/">Resources</a></li>
			<li><a href="/{{ siteLang }}/binary-tv/">Binary TV</a></li>
			<li><a href="/{{ siteLang }}/binary-training-videos/">Training Videos</a></li>
			<li><a href="/{{ siteLang }}/webinar-videos/">Webinar Videos</a></li>
		</ul>
{% elsif siteLang == "de" %}
	<h4>Videos</h4>
		<ul>
			<li><a href="/{{ siteLang }}/videos/">Resources</a></li>
			<li><a href="/{{ siteLang }}/binary-tv/">Binary TV</a></li>
			<li><a href="/{{ siteLang }}/binary-training-videos/">Training Videos</a></li>
			<li><a href="/{{ siteLang }}/webinar-videos/">Webinar Videos</a></li>
		</ul>
{% elsif siteLang == "fr" %}
	<h4>Videos</h4>
		<ul>
			<li><a href="/{{ siteLang }}/videos/">Resources</a></li>
			<li><a href="/{{ siteLang }}/binary-tv/">Binary TV</a></li>
			<li><a href="/{{ siteLang }}/binary-training-videos/">Training Videos</a></li>
			<li><a href="/{{ siteLang }}/webinar-videos/">Webinar Videos</a></li>
		</ul>
{% elsif siteLang == "ru" %}
	<h4>Videos</h4>
		<ul>
			<li><a href="/{{ siteLang }}/videos/">Resources</a></li>
			<li><a href="/{{ siteLang }}/binary-tv/">Binary TV</a></li>
			<li><a href="/{{ siteLang }}/binary-training-videos/">Training Videos</a></li>
			<li><a href="/{{ siteLang }}/webinar-videos/">Webinar Videos</a></li>
		</ul>
{% elsif siteLang == "es" %}
	<h4>Videos</h4>
		<ul>
			<li><a href="/{{ siteLang }}/videos/">Resources</a></li>
			<li><a href="/{{ siteLang }}/binary-tv/">Binary TV</a></li>
			<li><a href="/{{ siteLang }}/binary-training-videos/">Training Videos</a></li>
			<li><a href="/{{ siteLang }}/webinar-videos/">Webinar Videos</a></li>
		</ul>
{% elsif siteLang == "pt" %}
	<h4>Videos</h4>
		<ul>
			<li><a href="/{{ siteLang }}/videos/">Resources</a></li>
			<li><a href="/{{ siteLang }}/binary-tv/">Binary TV</a></li>
			<li><a href="/{{ siteLang }}/binary-training-videos/">Training Videos</a></li>
			<li><a href="/{{ siteLang }}/webinar-videos/">Webinar Videos</a></li>
		</ul>
{% elsif siteLang == "id" %}
	<h4>Videos</h4>
		<ul>
			<li><a href="/{{ siteLang }}/videos/">Resources</a></li>
			<li><a href="/{{ siteLang }}/binary-tv/">Binary TV</a></li>
			<li><a href="/{{ siteLang }}/binary-training-videos/">Training Videos</a></li>
			<li><a href="/{{ siteLang }}/webinar-videos/">Webinar Videos</a></li>
		</ul>
{% else %}
    <h4>Videos</h4>
		<ul>
			<li><a href="/{{ siteLang }}/videos/">Resources</a></li>
			<li><a href="/{{ siteLang }}/binary-tv/">Binary TV</a></li>
			<li><a href="/{{ siteLang }}/binary-training-videos/">Training Videos</a></li>
			<li><a href="/{{ siteLang }}/webinar-videos/">Webinar Videos</a></li>
		</ul>
{% endif %}