{% if siteLang == "en" %}
	<h4>Learning Center</h4>
	<ul>
		<li><a href="/{{ siteLang }}/learning-center/">Learning Resources</a></li>
		<li><a href="/{{ siteLang }}/weekly-market-update/">Weekly Market Update</a></li>
		<li><a href="/{{ siteLang }}/commodities-corner/">Commodities Corner</a></li>
		<li><a href="/{{ siteLang }}/binary-weekly/">Weekly Trading Signals</a></li>
	</ul>
{% elsif siteLang == "de" %}
	<h4>Learning Center</h4>
	<ul>
		<li><a href="/{{ siteLang }}/learning-center/">Learning Resources</a></li>
		<li><a href="/{{ siteLang }}/weekly-market-update/">Weekly Market Update</a></li>
		<li><a href="/{{ siteLang }}/commodities-corner/">Commodities Corner</a></li>
		<li><a href="/{{ siteLang }}/binary-weekly/">Weekly Trading Signals</a></li>
	</ul>
{% elsif siteLang == "fr" %}
	<h4>Learning Center</h4>
	<ul>
		<li><a href="/{{ siteLang }}/learning-center/">Learning Resources</a></li>
		<li><a href="/{{ siteLang }}/weekly-market-update/">Weekly Market Update</a></li>
		<li><a href="/{{ siteLang }}/commodities-corner/">Commodities Corner</a></li>
		<li><a href="/{{ siteLang }}/binary-weekly/">Weekly Trading Signals</a></li>
	</ul>
{% elsif siteLang == "ru" %}
	<h4>Learning Center</h4>
	<ul>
		<li><a href="/{{ siteLang }}/learning-center/">Learning Resources</a></li>
		<li><a href="/{{ siteLang }}/weekly-market-update/">Weekly Market Update</a></li>
		<li><a href="/{{ siteLang }}/commodities-corner/">Commodities Corner</a></li>
		<li><a href="/{{ siteLang }}/binary-weekly/">Weekly Trading Signals</a></li>
	</ul>
{% elsif siteLang == "es" %}
	<h4>Learning Center</h4>
	<ul>
		<li><a href="/{{ siteLang }}/learning-center/">Learning Resources</a></li>
		<li><a href="/{{ siteLang }}/weekly-market-update/">Weekly Market Update</a></li>
		<li><a href="/{{ siteLang }}/commodities-corner/">Commodities Corner</a></li>
		<li><a href="/{{ siteLang }}/binary-weekly/">Weekly Trading Signals</a></li>
	</ul>
{% elsif siteLang == "pt" %}
	<h4>Learning Center</h4>
	<ul>
		<li><a href="/{{ siteLang }}/learning-center/">Learning Resources</a></li>
		<li><a href="/{{ siteLang }}/weekly-market-update/">Weekly Market Update</a></li>
		<li><a href="/{{ siteLang }}/commodities-corner/">Commodities Corner</a></li>
		<li><a href="/{{ siteLang }}/binary-weekly/">Weekly Trading Signals</a></li>
	</ul>
{% elsif siteLang == "id" %}
	<h4>Learning Center</h4>
	<ul>
		<li><a href="/{{ siteLang }}/learning-center/">Learning Resources</a></li>
		<li><a href="/{{ siteLang }}/weekly-market-update/">Weekly Market Update</a></li>
		<li><a href="/{{ siteLang }}/commodities-corner/">Commodities Corner</a></li>
		<li><a href="/{{ siteLang }}/binary-weekly/">Weekly Trading Signals</a></li>
	</ul>
{% else %}
<h4>Learning Center</h4>
	<ul>
		<li><a href="/{{ siteLang }}/learning-center/">Learning Resources</a></li>
		<li><a href="/{{ siteLang }}/weekly-market-update/">Weekly Market Update</a></li>
		<li><a href="/{{ siteLang }}/commodities-corner/">Commodities Corner</a></li>
		<li><a href="/{{ siteLang }}/binary-weekly/">Weekly Trading Signals</a></li>
	</ul>
{% endif %}