{% if siteLang == "en" %}
	<h4>Learning Center</h4>
	<ul>
		<li><a href="{{ site.url }}/{{ siteLang }}/learning-center/">Learning Resources</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/weekly-market-update/">Weekly Market Update</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/commodities-corner/">Commodities Corner</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/binary-weekly/">Weekly Trading Signals</a></li>
	</ul>
{% elsif siteLang == "de" %}
	<h4>Lernzentrum</h4>
	<ul>
		<li><a href="{{ site.url }}/{{ siteLang }}/learning-center/">Lernmittel</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/weekly-market-update/">Weekly Market Update</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/commodities-corner/">Commodities Corner</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/binary-weekly/">Wöchentliche Handelssignale</a></li>
	</ul>
{% elsif siteLang == "fr" %}
	<h4>Centre d'apprentissage</h4>
	<ul>
		<li><a href="{{ site.url }}/{{ siteLang }}/learning-center/">Ressources</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/weekly-market-update/">Mise à jour du marché hebdomadaire</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/commodities-corner/">Commodities coin</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/binary-weekly/">Signaux de trading hebdomadaires</a></li>
	</ul>
{% elsif siteLang == "ru" %}
	<h4>Обучающий центр</h4>
	<ul>
		<li><a href="{{ site.url }}/{{ siteLang }}/learning-center/">Ресурсы</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/weekly-market-update/">Еженедельный обзор рынка</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/commodities-corner/">Сырьевой уголок</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/binary-weekly/">Еженедельные Торговые сигналы</a></li>
	</ul>
{% elsif siteLang == "es" %}
	<h4>Centro de Aprendizaje</h4>
	<ul>
		<li><a href="{{ site.url }}/{{ siteLang }}/learning-center/">Recursos</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/weekly-market-update/">Actualización Semanal Mercado</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/commodities-corner/">Materias Primas Corner</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/binary-weekly/">Señales de Trading semanales</a></li>
	</ul>
{% elsif siteLang == "pt" %}
	<h4>Centro de ensino</h4>
	<ul>
		<li><a href="{{ site.url }}/{{ siteLang }}/learning-center/">Centro de ensino</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/weekly-market-update/">Actualização do mercado semanal</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/commodities-corner/">Canto das matérias-primas</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/binary-weekly/">Sinais de negociação semanais</a></li>
	</ul>
{% elsif siteLang == "id" %}
	<h4>Pusat Pelatihan</h4>
	<ul>
		<li><a href="{{ site.url }}/{{ siteLang }}/learning-center/">Sumber Pelatihan</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/weekly-market-update/">Berita Pasar Mingguan</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/commodities-corner/">Pojok Komoditas</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/binary-weekly/">Laporan Mingguan</a></li>
	</ul>
{% else %}
<h4>Learning Center</h4>
	<ul>
		<li><a href="{{ site.url }}/{{ siteLang }}/learning-center/">Learning Resources</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/weekly-market-update/">Weekly Market Update</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/commodities-corner/">Commodities Corner</a></li>
		<li><a href="{{ site.url }}/{{ siteLang }}/binary-weekly/">Weekly Trading Signals</a></li>
	</ul>
{% endif %}