{% if siteLang == "en" %}
	<h4>Partners</h4>
		<ul>					    
			<li><a href="/{{ siteLang }}/contributors/">Contributors</a></li>
			<li><a href="https://www.binary.com/en/affiliate/signup.html">Affiliate Program</a></li>
			<li><a href="https://www.binary.com/en/payment-agent.html">Payment Agents</a></li>
			<li><a href="https://developers.binary.com/">API Developers</a></li>
		</ul>
{% elsif siteLang == "de" %}
	<h4>Partners</h4>
		<ul>					    
			<li><a href="/{{ siteLang }}/contributors/">Contributors</a></li>
			<li><a href="https://www.binary.com/en/affiliate/signup.html">Affiliate Program</a></li>
			<li><a href="https://www.binary.com/en/payment-agent.html">Payment Agents</a></li>
			<li><a href="https://developers.binary.com/">API Developers</a></li>
		</ul>
{% elsif siteLang == "fr" %}
	<h4>Partners</h4>
		<ul>					    
			<li><a href="/{{ siteLang }}/contributors/">Contributors</a></li>
			<li><a href="https://www.binary.com/en/affiliate/signup.html">Affiliate Program</a></li>
			<li><a href="https://www.binary.com/en/payment-agent.html">Payment Agents</a></li>
			<li><a href="https://developers.binary.com/">API Developers</a></li>
		</ul>
{% elsif siteLang == "ru" %}
	<h4>Partners</h4>
		<ul>					    
			<li><a href="/{{ siteLang }}/contributors/">Contributors</a></li>
			<li><a href="https://www.binary.com/en/affiliate/signup.html">Affiliate Program</a></li>
			<li><a href="https://www.binary.com/en/payment-agent.html">Payment Agents</a></li>
			<li><a href="https://developers.binary.com/">API Developers</a></li>
		</ul>
{% elsif siteLang == "es" %}
	<h4>Partners</h4>
		<ul>					    
			<li><a href="/{{ siteLang }}/contributors/">Contributors</a></li>
			<li><a href="https://www.binary.com/en/affiliate/signup.html">Affiliate Program</a></li>
			<li><a href="https://www.binary.com/en/payment-agent.html">Payment Agents</a></li>
			<li><a href="https://developers.binary.com/">API Developers</a></li>
		</ul>
{% elsif siteLang == "pt" %}
	<h4>Partners</h4>
		<ul>					    
			<li><a href="/{{ siteLang }}/contributors/">Contributors</a></li>
			<li><a href="https://www.binary.com/en/affiliate/signup.html">Affiliate Program</a></li>
			<li><a href="https://www.binary.com/en/payment-agent.html">Payment Agents</a></li>
			<li><a href="https://developers.binary.com/">API Developers</a></li>
		</ul>
{% elsif siteLang == "id" %}
	<h4>Partners</h4>
		<ul>					    
			<li><a href="/{{ siteLang }}/contributors/">Contributors</a></li>
			<li><a href="https://www.binary.com/en/affiliate/signup.html">Affiliate Program</a></li>
			<li><a href="https://www.binary.com/en/payment-agent.html">Payment Agents</a></li>
			<li><a href="https://developers.binary.com/">API Developers</a></li>
		</ul>
{% else %}
    <h4>Partners</h4>
		<ul>					    
			<li><a href="/{{ siteLang }}/contributors/">Contributors</a></li>
			<li><a href="https://www.binary.com/en/affiliate/signup.html">Affiliate Program</a></li>
			<li><a href="https://www.binary.com/en/payment-agent.html">Payment Agents</a></li>
			<li><a href="https://developers.binary.com/">API Developers</a></li>
		</ul>
{% endif %}