<div class="sidebar">
    <h2>ПОСЛЕДНИЕ СТАТЬИ</h2>
    <ul class="bullet">
        <li><a href="/Новинка-Динамичные-индексы/">Новинка! Динамичные индексы!</a>
        </li>
        <li><a href="/Минимальная-продолжительность-от-15-минут-для-контрактов-Повышение-Падение-на/">Минимальная продолжительность от 15 минут для контрактов Повышение/Падение на</a>
        </li>
        <li><a href="/Новинки-Палладий-и-платина/">Новинки! Палладий и платина</a>
        </li>
        <li><a href="/Краткосрочные-контракты-на-основных-валютных-парах/">Краткосрочные контракты на основных валютных парах</a>
        </li>
        <li><a href="/binary-com-начинает-предлагать-азиатские-опционы/">Binary.com начинает предлагать азиатские опционы</a>
        </li>
        <li><a href="/Binary-com-начинает-предлагать-новые-индексы-Smart/">Binary.com начинает предлагать новые индексы Smart</a>
        </li>
        <li><a href="/3-новых-рынка-Форекс/">3 новых рынка Форекс</a>
        </li>
    </ul>
</div>
