<div class="sidebar">
    <h2>Профили авторов</h2>
    <ul class="bullet">
        <li><a href="/ru/contributors/alexandr-galochkin/">Alexandr Galochkin</a></li>
        <li><a href="/ru/contributors/niklolay-masalov/">Niklolay Masalov</a></li>
        <li><a href="/ru/contributors/vitaly-popov/">Vitaly Popov</a></li>
        <li><a href="/ru/contributors/valeriy-andryashin/">Valeriy Andryashin</a></li>
        <li><a href="/ru/contributors/sergey-romanyuk/">Sergey Romanyuk</a></li>
        <li><a href="/ru/contributors/vladimir-shepelitskiy/">Vladimir Shepelitskiy</a></li>
    </ul>
</div>
