<div class="sidebar">
    <h2>ПОСЛЕДНИЕ СТАТЬИ</h2>
    <ul class="bullet">
        <li><a href="/Minimum_Duration_Down_To_15_minutes_For_Rise_Fall_Trades_on_Indices">Minimum Duration Down To 15 minutes For Rise/Fall Trades on Indices</a>
        </li>
        <li><a href="/New_Palladium_and_Platinum">New! Palladium & Platinum</a>
        </li>
        <li><a href="/Short-term-Contracts-Available-on-Major-Forex-Pairs">Short-term Contracts Available on Major Forex Pairs</a>
        </li>
        <li><a href="/Binary-com-launches-Asian-contracts">Binary.com launches Asian contracts</a>
        </li>
        <li><a href="/write-the-permalink-here-if-empty-then-default-permalink-will-be-used">Binary.com launches Smart Indices</a>
        </li>
        <li><a href="/binary-com-nominated-for-another-award">Binary.com nominated for another award!</a>
        </li>
        <li><a href="/Three-New-Forex-Markets-Available">Three New Forex Markets Available</a>
        </li>
    </ul>
</div>
