<div class="sidebar">
    <h2>Профили авторов</h2>
    <ul class="bullet">
        <li><a href="/ru/contributors/sergey-musin/">Cергей Мусин</a></li>
        <li><a href="/ru/contributors/alexandr-galochkin/">Александр Галочкин</a></li>
        <li><a href="/ru/contributors/valeriy-andryashin/">Валерий Андряшин</a></li>
        <li><a href="/ru/contributors/vitaly-popov/">Виталий Попов</a></li>
        <li><a href="/ru/contributors/jim-mellon/">Джим Меллон</a></li>
        <li><a href="/ru/contributors/yevgeniy-boguraev/">Евгений Богураев</a></li>
        <li><a href="/ru/contributors/niklolay-masalov/">Николай Масалов</a></li>
        <li><a href="/ru/contributors/sergey-romanyuk/">Сергей Романюк</a></li>
        <li><a href="/ru/contributors/vladimir-shepelitskiy/">Шепелицкий Владимир</a></li>

        
    </ul>
</div>
