<div class="sidebar">
    <h2>ПОСЛЕДНИЕ СТАТЬИ</h2>
    <ul class="bullet">


<li><a href="/ru-trade-our-new-blue-chip-OTC-stocks-from-Apple-to-PepsiCo/">Торгуйте новыми внебиржевыми акциями крупных компаний: от Apple до PepsiCo! </a>
        </li>
<li><a href="/ru-random-indices-renamed-to-volatility-indices/">“Индексы Random” переименованы в “Индексы волатильности”</a>
        </li>   
<li><a href="/ru-start-trading-even-faster-with-our-tick-trade-app/">Начните торговать ещё быстрее, благодаря нашему приложению Tick Trade App</a>
        </li>   
<li><a href="/ru-three-reasons-to-try-our-new-interface/">3 причины перейти на наш новый интерфейс</a>
        </li>
<li><a href="/ru-binarycom-commemorates-300000-facebook-fans/">Binary.com достиг 300000 подписчиков на Facebook!</a>
        </li>
<li><a href="/ru-happy-holidays-from-binarycom/">Праздничное поздравление от Binary.com!</a>
        </li>
<li><a href="/ru-holiday-restrictions-for-stock-and-index-trades/">Праздничные ограничения для торговли акциями и индексами</a>
        </li>
<li><a href="/ru-bitcoin-added-to-Binarycoms-payment-methods/">Bitcoin добавлен к способам оплаты на Binary.com</a>
        </li>
<li><a href="/ru-Email-address-now-serves-as-your-login-to-increase-security/">С целью повышения безопасности, Ваш электронный адрес стал Вашим логином</a>
        </li>
<li><a href="/ru-2015-EGR-operator-award-presented-to-Binarycom/">Binary.com получил награду на EGR Operator Award 2015</a>
        </li>
<li><a href="/ru-binary-TV-premieres-daily-market-report-videos/">Binary TV представляет ежедневный видео обзор рынка</a>
        </li>
<li><a href="/Java-chart-application--removed/">Удалено приложение для графиков Java</a>
        </li>
<li><a href="/ru-spread-contracts-now-available-at-binary-dot-com/">Контракты со спредами теперь доступны на Binary.com</a>
        </li>
 
     




    </ul>
</div>
