<div class='home-content'>
    <div id='page_info' style='display: none;'>
        <title>Binary.com : : Online Trading platform for binary options on Forex, Indices, Stocks, Commodities and Global Sector Indices</title>
        <div id='content_class'>home-content</div>
    </div>
    <div id='banner'>
        <div class='grd-container'>
            <div class='grd-grid-12 grd-hide-mobile grd-hide-phablet grd-row-padding grd-no-gutter-left grd-no-gutter-right'>
                <div id='slider'>
                    <div class='slides-container'>
                        <div class='invisibleslides slides' id='slide-1'>
                            <h1 class='dark'>Бесплатные вебинары</h1>
                            <p>Binary.com совместно с профессиональными трейдерами проводит бесплатные вебинары.</p>
                            <h4>
                                <a class='learn-more pjaxload' href="/ru/webinar/">Find Out More</a>
                            </h4>
                        </div>
                        <div class='invisibleslides slides' id='slide-2'>
                            <h1 class='dark'>События</h1>
                            <p>Расписание различных событий и вебинаров на сайте Binary.com</p>
                            <h4>
                                <a class='learn-more pjaxload' href='/ru/events/'>Find Out More</a>
                            </h4>
                        </div>
                        <div class='invisibleslides slides' id='slide-3'>
                            <h1 class='dark'>Материалы для скачивания</h1>
                            <p>Здесь Вы найдете некоторые ресурсы, которые помогут Вам начать работу.</p>
                            <h4>
                                <a class='learn-more pjaxload' href="/ru/downloads/">Find Out More</a>
                            </h4>
                        </div>
                    </div>
                    <ul class='slides-pagination'>
                        <li class='current'>
                            <a href='#0'>&nbsp;</a>
                        </li>
                        <li>
                            <a href='#1'>&nbsp;</a>
                        </li>
                        <li>
                            <a href='#2'>&nbsp;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
