{% include lang.html %}
{% include geturl.html %}
{% assign ActiveLanguagePosts = site.posts | where: "language", siteLang %}			
{% for post in ActiveLanguagePosts %}														
	{% if post.title %}
	<div class="row">
		<div class="col">
			<a href="{{ post.url | prepend: SourceUrl }}"><h2>{{ post.title }}</h2></a>
			<p class="post--date">{{ post.date | date: "%b" }} {{ post.date | date: "%-d" }}, {{ post.date | date: "%Y" }}</p>
			<p>{{ post.excerpt }}</p>	
			<p><a href="{{ post.url | prepend: SourceUrl }}">{{ translate.read_more }} ...</a></p>
		</div>
	</div>
	<div class="separator-line-thin-gray"></div>	
	{% endif %}				
{% endfor %}