{% if siteLang == "en" %}
    <a href="https://www.binary.com/en/contact.html">Contact Us</a>
{% elsif siteLang == "de" %}
	<a href="https://www.binary.com/de/contact.html">Kontaktieren Sie uns</a>
{% elsif siteLang == "fr" %}
	<a href="https://www.binary.com/fr/contact.html">Contactez-nous</a>
{% elsif siteLang == "ru" %}
	<a href="https://www.binary.com/ru/contact.html">Контакты</a>
{% elsif siteLang == "es" %}
	<a href="https://www.binary.com/es/contact.html">Contáctenos</a>
{% elsif siteLang == "pt" %}
	<a href="https://www.binary.com/pt/contact.html">Contate-Nos</a>
{% elsif siteLang == "id" %}
	<a href="https://www.binary.com/id/contact.html">Hubungi Kami</a>
{% elsif siteLang == "it" %}
	<a href="https://www.binary.com/en/contact.html">Contact Us</a>	
{% else %}
	<a href="https://www.binary.com/en/contact.html">Contact Us</a>
{% endif %}	