{% include lang.html %}

{% if siteLang == "en" %}
    {% assign NavLang = site.pages | where: "language", "en" %}
	{% for page in NavLang  %}
    {% if page.tag == "contributor" %}	
		{% if page.title %}
			<div class="Page-Grid__grid-wrap__box">
				<a href="{{site.url}}{{ page.permalink }}">
					<div class="Page-Grid__grid-wrap__box__boxInner">
						<div class="Page-Grid__grid-wrap__box__boxInner__title">{{ page.title }}</div>
						<span class="Page-Grid__grid-wrap__box__boxInner__vendor"><img src="{{site.url}}{{ page.image }}" alt="{{ page.title }}"></span>
						<div class="rte"></div>					
					</div>
				</a>	
	        </div>
		{% endif %}
	{% endif %}	
	{% endfor %}
{% elsif siteLang == "de" %}
	{% assign NavLang = site.pages | where: "language", "de" %}
	{% for page in NavLang %}
	{% if page.tag == "contributor" %}
		{% if page.title %}
			<div class="Page-Grid__grid-wrap__box">
				<a href="{{site.url}}{{ page.permalink }}">
					<div class="Page-Grid__grid-wrap__box__boxInner">
						<div class="Page-Grid__grid-wrap__box__boxInner__title">{{ page.title }}</div>
						<span class="Page-Grid__grid-wrap__box__boxInner__vendor"><img src="{{site.url}}{{ page.image }}" alt="{{ page.title }}"></span>
						<div class="rte"></div>					
					</div>
				</a>	
	        </div>
		{% endif %}
	{% endif %}
	{% endfor %}
{% elsif siteLang == "fr" %}
	{% assign NavLang = site.pages | where: "language", "fr" %}
	{% for page in NavLang %}
	{% if page.tag == "contributor" %}
		{% if page.title %}
			<div class="Page-Grid__grid-wrap__box">
				<a href="{{site.url}}{{ page.permalink }}">
					<div class="Page-Grid__grid-wrap__box__boxInner">
						<div class="Page-Grid__grid-wrap__box__boxInner__title">{{ page.title }}</div>
						<span class="Page-Grid__grid-wrap__box__boxInner__vendor"><img src="{{site.url}}{{ page.image }}" alt="{{ page.title }}"></span>
						<div class="rte"></div>					
					</div>
				</a>	
	        </div>
		{% endif %}
	{% endif %}
	{% endfor %}
{% elsif siteLang == "ru" %}
	{% assign NavLang = site.pages | where: "language", "ru" %}
	{% for page in NavLang %}
	{% if page.tag == "contributor" %}
		{% if page.title %}
			<div class="Page-Grid__grid-wrap__box">
				<a href="{{site.url}}{{ page.permalink }}">
					<div class="Page-Grid__grid-wrap__box__boxInner">
						<div class="Page-Grid__grid-wrap__box__boxInner__title">{{ page.title }}</div>
						<span class="Page-Grid__grid-wrap__box__boxInner__vendor"><img src="{{site.url}}{{ page.image }}" alt="{{ page.title }}"></span>
						<div class="rte"></div>					
					</div>
				</a>	
	        </div>
		{% endif %}
	{% endif %}
	{% endfor %}	
{% elsif siteLang == "es" %}
	{% assign NavLang = site.pages | where: "language", "es" %}
	{% for page in NavLang %}
	{% if page.tag == "contributor" %}
		{% if page.title %}
			<div class="Page-Grid__grid-wrap__box">
				<a href="{{site.url}}{{ page.permalink }}">
					<div class="Page-Grid__grid-wrap__box__boxInner">
						<div class="Page-Grid__grid-wrap__box__boxInner__title">{{ page.title }}</div>
						<span class="Page-Grid__grid-wrap__box__boxInner__vendor"><img src="{{site.url}}{{ page.image }}" alt="{{ page.title }}"></span>
						<div class="rte"></div>					
					</div>
				</a>	
	        </div>
		{% endif %}
	{% endif %}
	{% endfor %}
{% elsif siteLang == "pt" %}
	{% assign NavLang = site.pages | where: "language", "pt" %}
	{% for page in NavLang %}
	{% if page.tag == "contributor" %}
		{% if page.title %}
			<div class="Page-Grid__grid-wrap__box">
				<a href="{{site.url}}{{ page.permalink }}">
					<div class="Page-Grid__grid-wrap__box__boxInner">
						<div class="Page-Grid__grid-wrap__box__boxInner__title">{{ page.title }}</div>
						<span class="Page-Grid__grid-wrap__box__boxInner__vendor"><img src="{{site.url}}{{ page.image }}" alt="{{ page.title }}"></span>
						<div class="rte"></div>					
					</div>
				</a>	
	        </div>
		{% endif %}
	{% endif %}
	{% endfor %}
{% elsif siteLang == "id" %}
	{% assign NavLang = site.pages | where: "language", "id" %}
	{% for page in NavLang %}
	{% if page.tag == "contributor" %}
		{% if page.title %}
			<div class="Page-Grid__grid-wrap__box">
				<a href="{{site.url}}{{ page.permalink }}">
					<div class="Page-Grid__grid-wrap__box__boxInner">
						<div class="Page-Grid__grid-wrap__box__boxInner__title">{{ page.title }}</div>
						<span class="Page-Grid__grid-wrap__box__boxInner__vendor"><img src="{{site.url}}{{ page.image }}" alt="{{ page.title }}"></span>
						<div class="rte"></div>					
					</div>
				</a>	
	        </div>
		{% endif %}
	{% endif %}
	{% endfor %}
{% elsif siteLang == "it" %}
	{% assign NavLang = site.pages | where: "language", "it" %}
	{% for page in NavLang %}
	{% if page.tag == "contributor" %}
		{% if page.title %}
			<div class="Page-Grid__grid-wrap__box">
				<a href="{{site.url}}{{ page.permalink }}">
					<div class="Page-Grid__grid-wrap__box__boxInner">
						<div class="Page-Grid__grid-wrap__box__boxInner__title">{{ page.title }}</div>
						<span class="Page-Grid__grid-wrap__box__boxInner__vendor"><img src="{{site.url}}{{ page.image }}" alt="{{ page.title }}"></span>
						<div class="rte"></div>					
					</div>
				</a>	
	        </div>
		{% endif %}
	{% endif %}
	{% endfor %}	
{% else %}
{% assign NavLang = site.pages | where: "language", "en" %}
	{% for page in NavLang %}
    {% if page.tag == "contributor" %}	
		{% if page.title %}
			<div class="Page-Grid__grid-wrap__box">
				<a href="{{site.url}}{{ page.permalink }}">
					<div class="Page-Grid__grid-wrap__box__boxInner">
						<div class="Page-Grid__grid-wrap__box__boxInner__title">{{ page.title }}</div>
						<span class="Page-Grid__grid-wrap__box__boxInner__vendor"><img src="{{site.url}}{{ page.image }}" alt="{{ page.title }}"></span>
						<div class="rte"></div>					
					</div>
				</a>	
	        </div>
		{% endif %}
	{% endif %}	
	{% endfor %}
{% endif %}