<div class="sidebar dave">
	<h2 class="center">Rapport journalier Binary.com</h2>
	<div class="para">
		<img src="/images/dave-daily.png" alt="">
		<p>Lisez le Rapport Journalier des Marchés de <strong>Dave Evans</strong>, Trader Professionnel de Binary.com.</p>
	</div>
	<p class="center">
        <a class="button button-focus" href="http://trade.binary.com/dailyreport_en_daveevans/?utm_medium=social&utm_source=blog&utm_content=davesreport">
            <span>INCRIVEZ-VOUS MAINTENANT</span>
        </a>
    </p>
    <br>
    <span class="notif" style="color:black">*Nous respectons votre vie privée</span>
    <span class="notif">*Nous ne divulguons à personne votre adresse mail.</span>
</div>