<div class="sidebar">
    <h2>POSTS RÉCENTS</h2>
    <ul class="bullet">
        <li><a href="/fr/nominez-binary-com-pour-les-prix-shares-awards/">Nominez Binary.com pour les prix "Shares Awards"</a>
        </li>
        <li><a href="/fr/Binarydotcom-nomine-pour-une-nouvelle-recompense/">Binary.com nominé pour une nouvelle récompense!</a>
        </li>
        <li><a href="/fr/Les-indices-intelligents-sont-maintenant-disponibles/">Les indices intelligents sont maintenant disponibles</a>
        </li>
        <li><a href="/fr/Licence-de-services-dinvestissement-octroyee-par-lautorite-maltaise-des-services-financiers/">Licence de services d’investissement octroyée par l’autorité maltaise des services financiers</a>
        </li>
        <li><a href="/fr/Introduction-de-la-section-haut-bas/">Introduction de la Section Haut/Bas</a>
        </li>
        <li><a href="/fr/Tout-Nouveau-Indice-Surperformance/">Tout Nouveau! Indice Surperformance</a>
        </li>
        <li><a href="/fr/DurEe-Minimale-Jusqui-15-Minutes-Pour-Les-Trades-Hausse-Baisse-sur-Indices/">Durée Minimale Jusqu'à 15 Minutes Pour Les Trades Hausse/Baisse sur Indices</a>
        </li>
        <li><a href="/fr/Nouveau-Palladium-Platinum/">Nouveau! Palladium & Platinum</a>
        </li>
        <li><a href="/fr/Contrats-Court-Terme-Disponibles-sur-les-Paires-Majeures-Forex/">Contrats à Court Terme Disponibles sur les Paires Majeures Forex</a>
        </li>
        <li><a href="/fr/Binary-lance-les-Indices-Intelligents/">Binary lance les contrats asiatiques</a>
        </li>
    </ul>
</div>
