<div class="sidebar">
    <h2>POSTS RÉCENTS</h2>
    <ul class="bullet">
        
        <li><a href="/Trois-bonnes-raisons-dessayer-notre-nouvelle-interface/">Trois bonnes raisons d'essayer notre nouvelle interface</a></li>
        <li><a href="/Licence-de-services-dinvestissement-octroyee-par-lautorite-maltaise-des-services-financiers/">Licence de services d’investissement octroyée par l’autorité maltaise des services financiers</a></li>
        <li><a href="/Restrictions-sur-les-actions-et-indices-pendant-la-periode-des-fetes/">Restrictions sur les actions et indices pendant la période des fêtes</a></li>
         <li><a href="/Pour-plus-de-securite-votre-adresse-e-mail-est-desormais-necessaire-a-la-connexion/">Pour plus de sécurité, votre adresse e-mail est désormais nécessaire à la connexion</a></li>
        <li><a href="/Bitcoin-fait-desormais-partie-des-moyens-de-paiement-proposes-par-Binarycom/">Bitcoin fait désormais partie des moyens de paiement proposés par Binary.com</a></li>
        <li><a href="/Binarycom-remporte-le-prix-du-courtage-en-ligne-EGR/">Binary.com remporte le prix du courtage en ligne EGR</a></li>
        <li><a href="/Binarycom-fete-ses-200000-mentions-Jaime-sur-Facebook/">Binary.com fête ses 200 000 mentions « J'aime » sur Facebook</a></li>
        <li><a href="/Binary-TV-presente-ses-rapports-de-marche-quotidiens-au-format-video/">Binary TV présente ses rapports de marché quotidiens au format vidéo</a></li>
        <li><a href="/Suppression-de-lapplication-graphique-java/">Suppression de l'application graphique Java</a></li>
        <li><a href="/Les-options-sur-spread-sont-maintenant-disponibles-sur-Binarycom/">Les options sur spread sont maintenant disponibles sur Binary.com"</a></li>
        <li><a href="/Lancement-de-la-nouvelle-interface-Binary-com-en-version-beta/">Lancement de la nouvelle interface Binary.com en version bêta"</a></li>
        <li><a href="/Binarydotcom-nomine-pour-une-nouvelle-recompense/">Binary.com nominé pour une nouvelle récompense!</a></li>
     
        
        
    </ul>
</div>
