<div class="sidebar">
    <h2>POSTS RÉCENTS</h2>
    <ul class="bullet">
        <li><a href="/fr/Tout-Nouveau-Indice-Surperformance/">Tout Nouveau! Indice Surperformance</a>
        </li>
        <li><a href="/fr/DurÈe-Minimale-Jusquí-15-Minutes-Pour-Les-Trades-Hausse-Baisse-sur-Indices/">Durée Minimale Jusqu'à 15 Minutes Pour Les Trades Hausse/Baisse sur Indices</a>
        </li>
        <li><a href="/fr/Nouveau-Palladium-Platinum/">Nouveau! Palladium & Platinum</a>
        </li>
        <li><a href="/fr/Contrats-Court-Terme-Disponibles-sur-les-Paires-Majeures-Forex/">Contrats à Court Terme Disponibles sur les Paires Majeures Forex</a>
        </li>
        <li><a href="/fr/Binary-lance-les-Indices-Intelligents">Binary Lance Les Contrats Asiatiques</a>
        </li>
        <li><a href="/fr/Binary-lance-les-Indices-Intelligents/">Binary.com lance les Indices Intelligents</a>
        </li>
        <li><a href="/fr/3Nouveaux-Marchés-Forex-Disponibles/">3 Nouveaux Marchés Forex Disponibles</a>
        </li>
    </ul>
</div>
