<div class='home-content'>
    <div id='page_info' style='display: none;'>
        <title>Binary.com : : Online Trading platform for binary options on Forex, Indices, Stocks, Commodities and Global Sector Indices</title>
        <div id='content_class'>home-content</div>
    </div>
    <div id='banner'>
        <div class='grd-container'>
            <div class='grd-grid-12 grd-hide-mobile grd-hide-phablet grd-row-padding grd-no-gutter-left grd-no-gutter-right'>
                <div id='slider'>
                    <div class='slides-container'>
                        <div class='invisibleslides slides' id='slide-1'>
                            <h1 class='dark'>WEBINAIRS GRATUITS</h1>
                            <p>Binary.com s'associe avec des Orateurs Professionnels afin d'offrir des webinaires gratuits à tout le monde.</p>
                            <h4>
                                <a class='learn-more pjaxload' href="/fr/events/#Webinars">Découvrez Plus</a>
                            </h4>
                        </div>
                        <!-- <div class='invisibleslides slides' id='slide-2'>
                            <h1 class='dark'>EVENTS</h1>
                            <p>Programme des différents Événements & Webinairs qui ont lieu sur Binary.com.</p>
                            <h4>
                                <a class='learn-more pjaxload' href='/fr/events/'>Découvrez Plus</a>
                            </h4>
                        </div>
                        <div class='invisibleslides slides' id='slide-3'>
                            <h1 class='dark'>événements</h1>
                            <p>Toute l'aide dont vous avez besoin pour commencer se trouve ici et est gratuite. Parcourez simplement les différentes ressources d'apprentissage ci-dessous et téléchargez.</p>
                            <h4>
                                <a class='learn-more pjaxload' href="/fr/downloads/">Découvrez Plus</a>
                            </h4>
                        </div> -->
                    </div>
                    <ul class='slides-pagination'>
                        <li class='current'>
                            <a href='#0'>&nbsp;</a>
                        </li>
                        <li>
                            <a href='#1'>&nbsp;</a>
                        </li>
                        <li>
                            <a href='#2'>&nbsp;</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</div>
