---
layout: compress
---
<!DOCTYPE html>
{% include lang.html %}
<html lang="{{ siteLang }}">
{% include head.html %}    
    {% include header.html %}
		<div class="container">
			{% include snippets/ico-banner.html %}			
			<div class="row">
				<div class="col-md-9">
					{{ content }}
				</div>
				<div class="col-md-3">
					{% include sidebar/ready-to-start.html %}
				    {% include sidebar/partner-with-us.html %}
					{% include sidebar/learning-resources.html %}
				    {% include sidebar/blog-latest-list.html %}					
					<div class="sc--center">
					{% include snippets/facebook.html %}
					{% include snippets/twitter.html %}
					    <div class="g-page" data-width="210" data-href="https://plus.google.com/106251151552682209951" data-showcoverphoto="false" data-rel="publisher"></div>
					</div>
				</div>
			</div>		
		</div>
     {% include footer.html %}  
    </body>
</html>