---
layout: compress
---
<!DOCTYPE html>
{% include lang.html %}
<html lang="{{ siteLang }}">
{% include head.html %}
<script async src="https://apis.google.com/js/platform.js"></script>
<script async src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script async src="https://style.binary.com/binary.js"></script>
<script async src="{{ '/js/code.js' | prepend: SourceUrl }}"></script>
<div id="fb-root"></div>
<script>(function(d, s, id) {
var js, fjs = d.getElementsByTagName(s)[0];
if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = 'https://connect.facebook.net/en_GB/sdk.js#xfbml=1&version=v3.2&appId=893872640819623';
fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
{% include header.html %}
		<div class="container">
			<div class="row">
				<div class="col-md-9">
				    <h1>{{ page.title }}</h1>
				</div>
				<div class="col-md-3">
				    {% include snippets/share.html %}
				</div>
			</div>
			<div class="row">
				<div class="col-md-9">			
					{{ content }}				
				</div>
				<div class="col-md-3">
					{% if page.tag == "contributor" %}	
						{% include sidebar/become-contributor.html %}
						{% include sidebar/contributor-list.html %}
					{% endif %}
					{% include sidebar/ready-to-start.html %}
					{% include sidebar/partner-with-us.html %}
					{% unless page.language == "it" %}
						{% include sidebar/learning-resources.html %}
					{% endunless %}
					<div class="sc--center">
					{% include snippets/facebook.html %}
					{% include snippets/twitter.html %}
					    <div class="g-page" data-width="210" data-href="https://plus.google.com/106251151552682209951" data-showcoverphoto="false" data-rel="publisher"></div>
					</div>
				</div>
			</div>		
		</div>
	 {% include footer.html %}
	
    </body>
</html>
