---
layout: default-no-slide
---
<div class="post">

    <header>
        <h1 class="mobile-h1-margin">{{ page.title }}</h1>
        <p class="post-meta">
            {% include page-date.html %}
            {% if page.author %} • {{ page.author }}{% endif %}
            {% if page.meta %} • {{ page.meta }}{% endif %}
        </p>
    </header>

    <article class="post-content">
        <p>
            {{ content }}
        </p>
        {% include social-share.html %}
        <div class="push"></div>
    </article>

</div>
