{% for page in site.pages %}
	{% if page.tag == "marketplace" %}
	<div class="Page-Grid__grid-wrap__box">
	<a href="{{ page.permalink }}">
		<div class="Page-Grid__grid-wrap__box__boxInner">
		<span class="grid-product-vendor" itemprop="manufacturer" content="{{ product.vendor }}">
			<div class="Page-Grid__grid-wrap__box__boxInner__title">{{ page.title }}</div>
			<span class="Page-Grid__grid-wrap__box__boxInner__vendor"><img src="{{ page.image }}"></span>
			<div class="rte"></div>
					
		</div>
	</a>	
	</div>
	{% endif %}
{% endfor %}
