<div class="Social">		
	<ul>
		<li><a href="http://www.youtube.com/user/BinaryTradingVideos" target="_blank" rel="noopener"><img src="{{ '/images/social/youtube.svg' | prepend: SourceUrl }}" alt="YouTube"></a></li>
		<li><a href="https://plus.google.com/106251151552682209951" target="_blank" rel="noopener"><img src="{{ '/images/social/google-plus.svg' | prepend: SourceUrl }}" alt="Google"></a></li>
		<li><a href="https://www.facebook.com/binarydotcom" target="_blank" rel="noopener"><img src="{{ '/images/social/facebook.svg' | prepend: SourceUrl }}" alt="Facebook"></a></li>
		<li><a href="https://twitter.com/Binarydotcom" target="_blank" rel="noopener"><img src="{{ '/images/social/twitter.svg' | prepend: SourceUrl }}" alt="Twitter"></a></li>
		<li><a href="https://t.me/binarydotcom" target="_blank" rel="noopener"><img src="{{ '/images/social/telegram.svg' | prepend: SourceUrl }}" alt="Telegram"></a></li>
		<li><a href="https://www.reddit.com/r/binarydotcom/" target="_blank" rel="noopener"><img src="{{ '/images/social/reddit.svg' | prepend: SourceUrl }}" alt="Reddit"></a></li>
	</ul>
</div>