<div class="Social">		
	<ul>
		<li><a href="https://www.facebook.com/derivdotcom" target="_blank" rel="noopener"><img src="{{ '/images/social/facebook.svg' | prepend: SourceUrl }}" alt="Facebook"></a></li>
		<li><a href="https://www.twitter.com/derivdotcom" target="_blank" rel="noopener"><img src="{{ '/images/social/twitter.svg' | prepend: SourceUrl }}" alt="Twitter"></a></li>
		<li><a href="https://t.me/binarydotcom" target="_blank" rel="noopener"><img src="{{ '/images/social/telegram.svg' | prepend: SourceUrl }}" alt="Telegram"></a></li>
		<li><a href="https://www.reddit.com/user/Deriv_official/" target="_blank" rel="noopener"><img src="{{ '/images/social/reddit.svg' | prepend: SourceUrl }}" alt="Reddit"></a></li>
	</ul>
</div>