{% if siteLang == "en" %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Become a contributor</h3>	
	<p>Do you want to become a Binary.com contributor/webinar speaker?</p>
	<a href="mailto:marketing@binary.com?subject=Become%20a%20Contributor">Contact Us</a>
</div>
{% elsif siteLang == "de" %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Werden Sie Beitragender</h3>
	<p>Möchten Sie Binary.com Autor/Webinar Redner werden?</p>
	<a href="mailto:marketing@binary.com?subject=Become%20a%20Contributor">Melden Sie sich bei uns</a>
</div>
{% elsif siteLang == "fr" %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Devenir Auteur</h3>	
	<a href="mailto:marketing@binary.com?subject=Become%20a%20Contributor">Contactez nous</a>
</div>
{% elsif siteLang == "ru" %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Стать Автор</h3>	
	<a href="mailto:marketing@binary.com?subject=Become%20a%20Contributor">Свяжитесь с нами</a>
</div>
{% elsif siteLang == "pt" %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Torne-se um colaborador</h3>	
	<p>Deseja se tornar um colaborador de webinars na Binary.com?</p>
	<a href="mailto:marketing@binary.com?subject=Become%20a%20Contributor">Contate-nos</a>
</div>
{% elsif siteLang == "es" %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Conviértase en un colaborador</h3>	
	<p>Desea convertirse en un colaborador/ orador en webinarios de Binary.com?</p>
	<a href="mailto:marketing@binary.com?subject=Become%20a%20Contributor">Contáctenos</a>
</div>
{% elsif siteLang == "id" %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Menjadi kontributor</h3>	
	<p>Apakah Anda ingin menjadi kontributor/pembicara webinar di Binary.com?</p>
	<a href="mailto:marketing@binary.com?subject=Become%20a%20Contributor">Hubungi Kami</a>
</div>
{% elsif siteLang == "it" %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Diventa un collaboratore</h3>	
	<p>Desideri diventare un collaboratore/webinar speaker di Binary.com?</p>
	<a href="mailto:marketing@binary.com?subject=Become%20a%20Contributor">Contattaci</a>
</div>
{% else %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Become a contributor</h3>	
	<p>Do you want to become a Binary.com contributor/webinar speaker?</p>
	<a href="mailto:marketing@binary.com?subject=Become%20a%20Contributor">Contact Us</a>
</div>
{% endif %}
