{% include lang.html %}
{% include geturl.html %}
<div class="row">
	<div class="col">
		<div class="sidebar-box fill-bg-color">		
			<h3>{{ translate.learning_center }}</h3>		
			<ul class="list-group">									
				{% assign ActiveLanguagePages = site.pages | where: "language", siteLang %}	
				{% for page in ActiveLanguagePages %}														
					{% if page.tag contains "learning" %}
						{% if page.title %}
							<li {% if page.url == activePage %}class="selected"{% endif %}><a href="{{ page.url | prepend: SourceUrl }}">{{ page.title }}</a></li>
						{% endif %}
					{% endif %}				
				{% endfor %}
				<li><a href="https://www.binary.com/{{ siteLang }}/get-started.html?utm_source=blog&utm_medium=social&utm_campaign=oct2016_sidebar_newtotrading_{{ siteLang }}">{{ translate.new_to_trading }}?</a></li>
				<li><a href="https://shop.binary.com/collections/applications.html?utm_source=blog&utm_medium=social&utm_campaign=oct2016_sidebar_applications_{{ siteLang }}">{{ translate.shop }}</a></li>
				<li><a href="https://www.binary.com/{{ siteLang }}/get-started/glossary.html?utm_source=blog&utm_medium=social&utm_campaign=oct2016_sidebar_glossary_{{ siteLang }}">{{ translate.glossary }}</a></li>
				<li><a href="{{ site.url }}/{{ siteLang }}/videos/">{{ translate.educational_videos }}</a></li>
				<li><a href="https://www.binary.com/{{ siteLang }}/get-started.html?get_started_tabs=binary">{{ translate.getstarted }}</a></li>
			</ul>
		</div>
	</div>
</div>