{% if siteLang == "en" %}
	<div class="Blog-Sidebar__section">
		<h3 class="Blog-Sidebar__section__title">Partner with us</h3>
		<p>We provide business partnership services like API, White Label etc.</p>
		<a class="strong" href="https://www.binary.com/en/partners.html">Find Out More</a>
	</div>
{% elsif siteLang == "de" %}
	<div class="Blog-Sidebar__section">
		<h3 class="Blog-Sidebar__section__title">Schließen Sie sich uns an!</h3>
		<p>Wir stellen Geschäftspartner Dienste wie API, Eigenmarke usw. zur Verfügung.</p>
		<a class="strong" href="https://www.binary.com/en/partners.html">Erfahren Sie mehr</a>
	</div>
{% elsif siteLang == "id" %}
	<div class="Blog-Sidebar__section">
		<h3 class="Blog-Sidebar__section__title">Partner with us</h3>
		<p>We provide business partnership services like API, White Label etc.</p>
		<a class="strong" href="https://www.binary.com/en/partners.html">Find Out More</a>
	</div>
{% elsif siteLang == "ru" %}
	<div class="Blog-Sidebar__section">
		<h3 class="Blog-Sidebar__section__title">Partner with us</h3>
		<p>We provide business partnership services like API, White Label etc.</p>
		<a class="strong" href="https://www.binary.com/en/partners.html">Find Out More</a>
	</div>
{% elsif siteLang == "fr" %}
	<div class="Blog-Sidebar__section">
		<h3 class="Blog-Sidebar__section__title">Partner with us</h3>
		<p>We provide business partnership services like API, White Label etc.</p>
		<a class="strong" href="https://www.binary.com/en/partners.html">Find Out More</a>
	</div>
{% elsif siteLang == "es" %}
	<div class="Blog-Sidebar__section">
		<h3 class="Blog-Sidebar__section__title">Partner with us</h3>
		<p>We provide business partnership services like API, White Label etc.</p>
		<a class="strong" href="https://www.binary.com/en/partners.html">Find Out More</a>
	</div>
{% elsif siteLang == "pt" %}
	<div class="Blog-Sidebar__section">
		<h3 class="Blog-Sidebar__section__title">Partner with us</h3>
		<p>We provide business partnership services like API, White Label etc.</p>
		<a class="strong" href="https://www.binary.com/en/partners.html">Find Out More</a>
	</div>	
{% else %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Partner with us</h3>
	<p>We provide business partnership services like API, White Label etc.</p>
	<a class="strong" href="https://www.binary.com/en/partners.html">Find Out More</a>
</div>
{% endif %}	

