{% if siteLang == "en" %}
	<div class="Blog-Sidebar__section">
		<h3 class="Blog-Sidebar__section__title">Partner with us</h3>
		<p>We provide business partnership services like API, White Label etc.</p>
		<a class="strong" href="https://www.binary.com/en/partners.html?utm_source=blog&utm_medium=social&utm_campaign=oct2016_sidebar_partnerswithus_en">Find Out More</a>
	</div>
{% elsif siteLang == "de" %}
	<div class="Blog-Sidebar__section">
		<h3 class="Blog-Sidebar__section__title">Schließen Sie sich uns an!</h3>
		<p>Wir stellen Geschäftspartner Dienste wie API, Eigenmarke usw. zur Verfügung.</p>
		<a class="strong" href="https://www.binary.com/de/partners.html?utm_source=blog&utm_medium=social&utm_campaign=nov2016_sidebar_schliebensiesich_de">Erfahren Sie mehr</a>
	</div>
{% elsif siteLang == "id" %}
	<div class="Blog-Sidebar__section">
		<h3 class="Blog-Sidebar__section__title">Bermitra Bersama Kami!</h3>
		<p>Kami menyediakan layanan bisnis kemitraan seperti API, White Label dll.</p>
		<a class="strong" href="https://www.binary.com/id/home.html?utm_source=blog&utm_medium=social&utm_campaign=oct2016_sidebar_bermitrabersamakami_id">Temukan Lebih Lanjut</a>
	</div>
{% elsif siteLang == "ru" %}
	<div class="Blog-Sidebar__section">
		<h3 class="Blog-Sidebar__section__title">Станьте нашим партнером!</h3>
		<p>Мы предоставляем услуги бизнес-партнерства, включая API, White Lable и др.</p>
		<a class="strong" href="https://www.binary.com/ru/partners.html?utm_source=blog&utm_medium=social&utm_campaign=oct2016_sidebar_partnerwithus_ru">Подробнее</a>
	</div>
{% elsif siteLang == "fr" %}
	<div class="Blog-Sidebar__section">
		<h3 class="Blog-Sidebar__section__title">Envie d'en savoir plus ?</h3>
		<a class="strong" href="https://www.binary.com/fr/partners.html">Laissez-vous guider</a>
	</div>
{% elsif siteLang == "es" %}
	<div class="Blog-Sidebar__section">
		<h3 class="Blog-Sidebar__section__title">Sea Nuestro Socio!</h3>
		<p>Ofrecemos servicios de colaboración como API, White Label etc.</p>
		<a class="strong" href="https://www.binary.com/es/partners.html">Obtenga más información</a>
	</div>
{% elsif siteLang == "pt" %}
	<div class="Blog-Sidebar__section">
		<h3 class="Blog-Sidebar__section__title">Seja nosso parceiro!</h3>
		<p>Fornecemos serviços de parceria de negócios, tais como API, marcas brancas, etc.</p>
		<a class="strong" href="https://www.binary.com/pt/partners.html?utm_source=blog&utm_medium=social&utm_campaign=oct2016_sidebar_sejanossoparceiro_pt">Descubra mais</a>
	</div>
{% elsif siteLang == "it" %}
	<div class="Blog-Sidebar__section">
		<h3 class="Blog-Sidebar__section__title">Collabora con noi</h3>
		<p>Forniamo servizi di partnership aziendale come API, White Label ecc.</p>
		<a class="strong" href="https://www.binary.com/it/partners.html">Per saperne di più</a>
	</div>		
{% else %}
<div class="Blog-Sidebar__section">
	<h3 class="Blog-Sidebar__section__title">Partner with us</h3>
	<p>We provide business partnership services like API, White Label etc.</p>
	<a class="strong" href="https://www.binary.com/en/partners.html?utm_source=blog&utm_medium=social&utm_campaign=oct2016_sidebar_partnerswithus_en">Find Out More</a>
</div>
{% endif %}	

